<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtcourt.dao.ExtWlZxtCourtDao">
<resultMap id="ExtWlZxtCourtDTO" type="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtcourt.dto.ExtWlZxtCourtDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="moduleFkId" column="MODULE_FK_ID" jdbcType="DECIMAL" />
				<result property="personName" column="PERSON_NAME" jdbcType="VARCHAR" />
				<result property="idNo" column="ID_NO" jdbcType="VARCHAR" />
				<result property="corpNo" column="CORP_NO" jdbcType="VARCHAR" />
				<result property="caseNo" column="CASE_NO" jdbcType="VARCHAR" />
				<result property="court" column="COURT" jdbcType="VARCHAR" />
				<result property="time" column="TIME" jdbcType="VARCHAR" />
				<result property="title" column="TITLE" jdbcType="VARCHAR" />
				<result property="objective" column="OBJECTIVE" jdbcType="VARCHAR" />
				<result property="content" column="CONTENT" jdbcType="VARCHAR" />
				<result property="applicant" column="APPLICANT" jdbcType="VARCHAR" />
				<result property="caseStatus" column="CASE_STATUS" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 ext_wl_zxt_court -->	
<select id="searchExtWlZxtCourtByPaging" parameterType="java.util.Map" resultMap="ExtWlZxtCourtDTO">
    	 		select 
						t1.id                             ,
						t1.module_fk_id                   ,
						t1.person_name                    ,
						t1.id_no                          ,
						t1.corp_no                        ,
						t1.case_no                        ,
						t1.court                          ,
						t1.time                           ,
						t1.title                          ,
						t1.objective                      ,
						t1.content                        ,
						t1.applicant                      ,
						t1.case_status                    ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_zxt_court 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.moduleFkId != null and dto.moduleFkId != ''">
						and t1.MODULE_FK_ID =#{dto.moduleFkId}
    			</if>
    			<if test="dto.personName != null and dto.personName != ''">
						and t1.PERSON_NAME =#{dto.personName}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO =#{dto.idNo}
    			</if>
    			<if test="dto.corpNo != null and dto.corpNo != ''">
						and t1.CORP_NO =#{dto.corpNo}
    			</if>
    			<if test="dto.caseNo != null and dto.caseNo != ''">
						and t1.CASE_NO =#{dto.caseNo}
    			</if>
    			<if test="dto.court != null and dto.court != ''">
						and t1.COURT =#{dto.court}
    			</if>
    			<if test="dto.time != null and dto.time != ''">
						and t1.TIME =#{dto.time}
    			</if>
    			<if test="dto.title != null and dto.title != ''">
						and t1.TITLE =#{dto.title}
    			</if>
    			<if test="dto.objective != null and dto.objective != ''">
						and t1.OBJECTIVE =#{dto.objective}
    			</if>
    			<if test="dto.content != null and dto.content != ''">
						and t1.CONTENT =#{dto.content}
    			</if>
    			<if test="dto.applicant != null and dto.applicant != ''">
						and t1.APPLICANT =#{dto.applicant}
    			</if>
    			<if test="dto.caseStatus != null and dto.caseStatus != ''">
						and t1.CASE_STATUS =#{dto.caseStatus}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 ext_wl_zxt_court  -->
<select id="searchExtWlZxtCourt" parameterType="java.util.Map" resultMap="ExtWlZxtCourtDTO">
    	     select 
						t1.id                             ,
						t1.module_fk_id                   ,
						t1.person_name                    ,
						t1.id_no                          ,
						t1.corp_no                        ,
						t1.case_no                        ,
						t1.court                          ,
						t1.time                           ,
						t1.title                          ,
						t1.objective                      ,
						t1.content                        ,
						t1.applicant                      ,
						t1.case_status                    ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_zxt_court 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.moduleFkId != null and dto.moduleFkId != ''">
						and t1.MODULE_FK_ID = #{dto.moduleFkId}
    			</if>
    			<if test="dto.personName != null and dto.personName != ''">
						and t1.PERSON_NAME = #{dto.personName}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO = #{dto.idNo}
    			</if>
    			<if test="dto.corpNo != null and dto.corpNo != ''">
						and t1.CORP_NO = #{dto.corpNo}
    			</if>
    			<if test="dto.caseNo != null and dto.caseNo != ''">
						and t1.CASE_NO = #{dto.caseNo}
    			</if>
    			<if test="dto.court != null and dto.court != ''">
						and t1.COURT = #{dto.court}
    			</if>
    			<if test="dto.time != null and dto.time != ''">
						and t1.TIME = #{dto.time}
    			</if>
    			<if test="dto.title != null and dto.title != ''">
						and t1.TITLE = #{dto.title}
    			</if>
    			<if test="dto.objective != null and dto.objective != ''">
						and t1.OBJECTIVE = #{dto.objective}
    			</if>
    			<if test="dto.content != null and dto.content != ''">
						and t1.CONTENT = #{dto.content}
    			</if>
    			<if test="dto.applicant != null and dto.applicant != ''">
						and t1.APPLICANT = #{dto.applicant}
    			</if>
    			<if test="dto.caseStatus != null and dto.caseStatus != ''">
						and t1.CASE_STATUS = #{dto.caseStatus}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  ext_wl_zxt_court -->
<select id="findExtWlZxtCourtByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlZxtCourtDTO">
   	 		select 
					t1.id                             ,
					t1.module_fk_id                   ,
					t1.person_name                    ,
					t1.id_no                          ,
					t1.corp_no                        ,
					t1.case_no                        ,
					t1.court                          ,
					t1.time                           ,
					t1.title                          ,
					t1.objective                      ,
					t1.content                        ,
					t1.applicant                      ,
					t1.case_status                    ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_zxt_court 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 ext_wl_zxt_court -->
<insert id="insertExtWlZxtCourt" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_ext_wl_zxt_court.nextval as id from dual
	</selectKey>
			insert into ext_wl_zxt_court
			(   		
					id                             ,
					module_fk_id                   ,
					person_name                    ,
					id_no                          ,
					corp_no                        ,
					case_no                        ,
					court                          ,
					time                           ,
					title                          ,
					objective                      ,
					content                        ,
					applicant                      ,
					case_status                    ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.moduleFkId,jdbcType=DECIMAL}
					,#{dto.personName,jdbcType=VARCHAR}
					,#{dto.idNo,jdbcType=VARCHAR}
					,#{dto.corpNo,jdbcType=VARCHAR}
					,#{dto.caseNo,jdbcType=VARCHAR}
					,#{dto.court,jdbcType=VARCHAR}
					,#{dto.time,jdbcType=VARCHAR}
					,#{dto.title,jdbcType=VARCHAR}
					,#{dto.objective,jdbcType=VARCHAR}
					,#{dto.content,jdbcType=VARCHAR}
					,#{dto.applicant,jdbcType=VARCHAR}
					,#{dto.caseStatus,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 ext_wl_zxt_court -->
<update id="updateExtWlZxtCourt" parameterType="java.util.Map">
	     update ext_wl_zxt_court t1
	           set 
			           t1.module_fk_id                   =#{dto.moduleFkId,jdbcType=DECIMAL},
			           t1.person_name                    =#{dto.personName,jdbcType=VARCHAR},
			           t1.id_no                          =#{dto.idNo,jdbcType=VARCHAR},
			           t1.corp_no                        =#{dto.corpNo,jdbcType=VARCHAR},
			           t1.case_no                        =#{dto.caseNo,jdbcType=VARCHAR},
			           t1.court                          =#{dto.court,jdbcType=VARCHAR},
			           t1.time                           =#{dto.time,jdbcType=VARCHAR},
			           t1.title                          =#{dto.title,jdbcType=VARCHAR},
			           t1.objective                      =#{dto.objective,jdbcType=VARCHAR},
			           t1.content                        =#{dto.content,jdbcType=VARCHAR},
			           t1.applicant                      =#{dto.applicant,jdbcType=VARCHAR},
			           t1.case_status                    =#{dto.caseStatus,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 ext_wl_zxt_court -->
<delete id="deleteExtWlZxtCourtByID" parameterType="java.util.Map">
    	delete from ext_wl_zxt_court t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 ext_wl_zxt_court -->
<update id="deleteExtWlZxtCourtByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_zxt_court t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>