<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrcompensates.dao.ExtWlShSrCompensatesDao">
<resultMap id="ExtWlShSrCompensatesDTO" type="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrcompensates.dto.ExtWlShSrCompensatesDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="fkReportId" column="FK_REPORT_ID" jdbcType="DECIMAL" />
				<result property="original" column="ORIGINAL" jdbcType="VARCHAR" />
				<result property="organization" column="ORGANIZATION" jdbcType="VARCHAR" />
				<result property="lastCompensate" column="LAST_COMPENSATE" jdbcType="VARCHAR" />
				<result property="sumRepayment" column="SUM_REPAYMENT" jdbcType="VARCHAR" />
				<result property="lastRepayment" column="LAST_REPAYMENT" jdbcType="VARCHAR" />
				<result property="balance" column="BALANCE" jdbcType="VARCHAR" />
				<result property="isfail" column="ISFAIL" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_SH_SR_COMPENSATES -->	
<select id="searchExtWlShSrCompensatesByPaging" parameterType="java.util.Map" resultMap="ExtWlShSrCompensatesDTO">
    	 		select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.original                       ,
						t1.organization                   ,
						t1.last_compensate                ,
						t1.sum_repayment                  ,
						t1.last_repayment                 ,
						t1.balance                        ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_sh_sr_compensates 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID =#{dto.fkReportId}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL =#{dto.original}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION =#{dto.organization}
    			</if>
    			<if test="dto.lastCompensate != null and dto.lastCompensate != ''">
						and t1.LAST_COMPENSATE =#{dto.lastCompensate}
    			</if>
    			<if test="dto.sumRepayment != null and dto.sumRepayment != ''">
						and t1.SUM_REPAYMENT =#{dto.sumRepayment}
    			</if>
    			<if test="dto.lastRepayment != null and dto.lastRepayment != ''">
						and t1.LAST_REPAYMENT =#{dto.lastRepayment}
    			</if>
    			<if test="dto.balance != null and dto.balance != ''">
						and t1.BALANCE =#{dto.balance}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL =#{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_SH_SR_COMPENSATES  -->
<select id="searchExtWlShSrCompensates" parameterType="java.util.Map" resultMap="ExtWlShSrCompensatesDTO">
    	     select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.original                       ,
						t1.organization                   ,
						t1.last_compensate                ,
						t1.sum_repayment                  ,
						t1.last_repayment                 ,
						t1.balance                        ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_sh_sr_compensates 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID = #{dto.fkReportId}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL = #{dto.original}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION = #{dto.organization}
    			</if>
    			<if test="dto.lastCompensate != null and dto.lastCompensate != ''">
						and t1.LAST_COMPENSATE = #{dto.lastCompensate}
    			</if>
    			<if test="dto.sumRepayment != null and dto.sumRepayment != ''">
						and t1.SUM_REPAYMENT = #{dto.sumRepayment}
    			</if>
    			<if test="dto.lastRepayment != null and dto.lastRepayment != ''">
						and t1.LAST_REPAYMENT = #{dto.lastRepayment}
    			</if>
    			<if test="dto.balance != null and dto.balance != ''">
						and t1.BALANCE = #{dto.balance}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL = #{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_SH_SR_COMPENSATES -->
<select id="findExtWlShSrCompensatesByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlShSrCompensatesDTO">
   	 		select 
					t1.id                             ,
					t1.fk_report_id                   ,
					t1.original                       ,
					t1.organization                   ,
					t1.last_compensate                ,
					t1.sum_repayment                  ,
					t1.last_repayment                 ,
					t1.balance                        ,
					t1.isfail                         ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.validate_state                 ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_sh_sr_compensates 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_SH_SR_COMPENSATES -->
<insert id="insertExtWlShSrCompensates" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_SH_SR_COMPENSATES.nextval as id from dual
	</selectKey>
			insert into ext_wl_sh_sr_compensates
			(   		
					id                             ,
					fk_report_id                   ,
					original                       ,
					organization                   ,
					last_compensate                ,
					sum_repayment                  ,
					last_repayment                 ,
					balance                        ,
					isfail                         ,
					create_time                    ,
					modify_time                    ,
					validate_state                 ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.fkReportId,jdbcType=DECIMAL}
					,#{dto.original,jdbcType=VARCHAR}
					,#{dto.organization,jdbcType=VARCHAR}
					,#{dto.lastCompensate,jdbcType=VARCHAR}
					,#{dto.sumRepayment,jdbcType=VARCHAR}
					,#{dto.lastRepayment,jdbcType=VARCHAR}
					,#{dto.balance,jdbcType=VARCHAR}
					,#{dto.isfail,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_SH_SR_COMPENSATES -->
<update id="updateExtWlShSrCompensates" parameterType="java.util.Map">
	     update ext_wl_sh_sr_compensates t1
	           set 
			           t1.fk_report_id                   =#{dto.fkReportId,jdbcType=DECIMAL},
			           t1.original                       =#{dto.original,jdbcType=VARCHAR},
			           t1.organization                   =#{dto.organization,jdbcType=VARCHAR},
			           t1.last_compensate                =#{dto.lastCompensate,jdbcType=VARCHAR},
			           t1.sum_repayment                  =#{dto.sumRepayment,jdbcType=VARCHAR},
			           t1.last_repayment                 =#{dto.lastRepayment,jdbcType=VARCHAR},
			           t1.balance                        =#{dto.balance,jdbcType=VARCHAR},
			           t1.isfail                         =#{dto.isfail,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1',
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_SH_SR_COMPENSATES -->
<delete id="deleteExtWlShSrCompensatesByID" parameterType="java.util.Map">
    	delete from ext_wl_sh_sr_compensates t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_SH_SR_COMPENSATES -->
<update id="deleteExtWlShSrCompensatesByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_sh_sr_compensates t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

	<!--批量新增 算话人行结构化版(保证人代偿信息表)列表-->
	<insert id="insertExtWlShSrCompensatesList" parameterType="java.util.Map" useGeneratedKeys="true">
		begin
		<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
			select seq_EXT_WL_SH_SR_COMPENSATES.nextval as id from dual
		</selectKey>
		<foreach collection="dtoList" item="dto" >
			insert into ext_wl_sh_sr_compensates
			(
			id,
			fk_report_id,
			original,
			organization,
			last_compensate,
			sum_repayment,
			last_repayment,
			balance,
			isfail,
			create_time,
			validate_state
			)
			values(seq_EXT_WL_SH_SR_COMPENSATES.nextval
			,#{fkReportId}
			,#{dto.original,jdbcType=VARCHAR}
			,#{dto.organization,jdbcType=VARCHAR}
			,#{dto.lastCompensate,jdbcType=VARCHAR}
			,#{dto.sumRepayment,jdbcType=VARCHAR}
			,#{dto.lastRepayment,jdbcType=VARCHAR}
			,#{dto.balance,jdbcType=VARCHAR}
			,#{dto.isfail,jdbcType=VARCHAR}
			,systimestamp
			,'1'
			);
		</foreach>
		end;
	</insert>
</mapper>