<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrguarantees.dao.ExtWlShSrGuaranteesDao">
<resultMap id="ExtWlShSrGuaranteesDTO" type="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrguarantees.dto.ExtWlShSrGuaranteesDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="fkReportId" column="FK_REPORT_ID" jdbcType="DECIMAL" />
				<result property="original" column="ORIGINAL" jdbcType="VARCHAR" />
				<result property="guaranteeTime" column="GUARANTEE_TIME" jdbcType="VARCHAR" />
				<result property="guaranteeIdtype" column="GUARANTEE_IDTYPE" jdbcType="VARCHAR" />
				<result property="guaranteeIdname" column="GUARANTEE_IDNAME" jdbcType="VARCHAR" />
				<result property="guaranteeIdno" column="GUARANTEE_IDNO" jdbcType="VARCHAR" />
				<result property="organization" column="ORGANIZATION" jdbcType="VARCHAR" />
				<result property="contractAmount" column="CONTRACT_AMOUNT" jdbcType="VARCHAR" />
				<result property="guaranteeAmount" column="GUARANTEE_AMOUNT" jdbcType="VARCHAR" />
				<result property="principaAmount" column="PRINCIPA_AMOUNT" jdbcType="VARCHAR" />
				<result property="recordTime" column="RECORD_TIME" jdbcType="VARCHAR" />
				<result property="isfail" column="ISFAIL" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_SH_SR_GUARANTEES -->	
<select id="searchExtWlShSrGuaranteesByPaging" parameterType="java.util.Map" resultMap="ExtWlShSrGuaranteesDTO">
    	 		select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.original                       ,
						t1.guarantee_time                 ,
						t1.guarantee_idtype               ,
						t1.guarantee_idname               ,
						t1.guarantee_idno                 ,
						t1.organization                   ,
						t1.contract_amount                ,
						t1.guarantee_amount               ,
						t1.principa_amount                ,
						t1.record_time                    ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_sh_sr_guarantees 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID =#{dto.fkReportId}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL =#{dto.original}
    			</if>
    			<if test="dto.guaranteeTime != null and dto.guaranteeTime != ''">
						and t1.GUARANTEE_TIME =#{dto.guaranteeTime}
    			</if>
    			<if test="dto.guaranteeIdtype != null and dto.guaranteeIdtype != ''">
						and t1.GUARANTEE_IDTYPE =#{dto.guaranteeIdtype}
    			</if>
    			<if test="dto.guaranteeIdname != null and dto.guaranteeIdname != ''">
						and t1.GUARANTEE_IDNAME =#{dto.guaranteeIdname}
    			</if>
    			<if test="dto.guaranteeIdno != null and dto.guaranteeIdno != ''">
						and t1.GUARANTEE_IDNO =#{dto.guaranteeIdno}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION =#{dto.organization}
    			</if>
    			<if test="dto.contractAmount != null and dto.contractAmount != ''">
						and t1.CONTRACT_AMOUNT =#{dto.contractAmount}
    			</if>
    			<if test="dto.guaranteeAmount != null and dto.guaranteeAmount != ''">
						and t1.GUARANTEE_AMOUNT =#{dto.guaranteeAmount}
    			</if>
    			<if test="dto.principaAmount != null and dto.principaAmount != ''">
						and t1.PRINCIPA_AMOUNT =#{dto.principaAmount}
    			</if>
    			<if test="dto.recordTime != null and dto.recordTime != ''">
						and t1.RECORD_TIME =#{dto.recordTime}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL =#{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_SH_SR_GUARANTEES  -->
<select id="searchExtWlShSrGuarantees" parameterType="java.util.Map" resultMap="ExtWlShSrGuaranteesDTO">
    	     select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.original                       ,
						t1.guarantee_time                 ,
						t1.guarantee_idtype               ,
						t1.guarantee_idname               ,
						t1.guarantee_idno                 ,
						t1.organization                   ,
						t1.contract_amount                ,
						t1.guarantee_amount               ,
						t1.principa_amount                ,
						t1.record_time                    ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_sh_sr_guarantees 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID = #{dto.fkReportId}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL = #{dto.original}
    			</if>
    			<if test="dto.guaranteeTime != null and dto.guaranteeTime != ''">
						and t1.GUARANTEE_TIME = #{dto.guaranteeTime}
    			</if>
    			<if test="dto.guaranteeIdtype != null and dto.guaranteeIdtype != ''">
						and t1.GUARANTEE_IDTYPE = #{dto.guaranteeIdtype}
    			</if>
    			<if test="dto.guaranteeIdname != null and dto.guaranteeIdname != ''">
						and t1.GUARANTEE_IDNAME = #{dto.guaranteeIdname}
    			</if>
    			<if test="dto.guaranteeIdno != null and dto.guaranteeIdno != ''">
						and t1.GUARANTEE_IDNO = #{dto.guaranteeIdno}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION = #{dto.organization}
    			</if>
    			<if test="dto.contractAmount != null and dto.contractAmount != ''">
						and t1.CONTRACT_AMOUNT = #{dto.contractAmount}
    			</if>
    			<if test="dto.guaranteeAmount != null and dto.guaranteeAmount != ''">
						and t1.GUARANTEE_AMOUNT = #{dto.guaranteeAmount}
    			</if>
    			<if test="dto.principaAmount != null and dto.principaAmount != ''">
						and t1.PRINCIPA_AMOUNT = #{dto.principaAmount}
    			</if>
    			<if test="dto.recordTime != null and dto.recordTime != ''">
						and t1.RECORD_TIME = #{dto.recordTime}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL = #{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_SH_SR_GUARANTEES -->
<select id="findExtWlShSrGuaranteesByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlShSrGuaranteesDTO">
   	 		select 
					t1.id                             ,
					t1.fk_report_id                   ,
					t1.original                       ,
					t1.guarantee_time                 ,
					t1.guarantee_idtype               ,
					t1.guarantee_idname               ,
					t1.guarantee_idno                 ,
					t1.organization                   ,
					t1.contract_amount                ,
					t1.guarantee_amount               ,
					t1.principa_amount                ,
					t1.record_time                    ,
					t1.isfail                         ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.validate_state                 ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_sh_sr_guarantees 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_SH_SR_GUARANTEES -->
<insert id="insertExtWlShSrGuarantees" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_SH_SR_GUARANTEES.nextval as id from dual
	</selectKey>
			insert into ext_wl_sh_sr_guarantees
			(   		
					id                             ,
					fk_report_id                   ,
					original                       ,
					guarantee_time                 ,
					guarantee_idtype               ,
					guarantee_idname               ,
					guarantee_idno                 ,
					organization                   ,
					contract_amount                ,
					guarantee_amount               ,
					principa_amount                ,
					record_time                    ,
					isfail                         ,
					create_time                    ,
					modify_time                    ,
					validate_state                 ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.fkReportId,jdbcType=DECIMAL}
					,#{dto.original,jdbcType=VARCHAR}
					,#{dto.guaranteeTime,jdbcType=VARCHAR}
					,#{dto.guaranteeIdtype,jdbcType=VARCHAR}
					,#{dto.guaranteeIdname,jdbcType=VARCHAR}
					,#{dto.guaranteeIdno,jdbcType=VARCHAR}
					,#{dto.organization,jdbcType=VARCHAR}
					,#{dto.contractAmount,jdbcType=VARCHAR}
					,#{dto.guaranteeAmount,jdbcType=VARCHAR}
					,#{dto.principaAmount,jdbcType=VARCHAR}
					,#{dto.recordTime,jdbcType=VARCHAR}
					,#{dto.isfail,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_SH_SR_GUARANTEES -->
<update id="updateExtWlShSrGuarantees" parameterType="java.util.Map">
	     update ext_wl_sh_sr_guarantees t1
	           set 
			           t1.fk_report_id                   =#{dto.fkReportId,jdbcType=DECIMAL},
			           t1.original                       =#{dto.original,jdbcType=VARCHAR},
			           t1.guarantee_time                 =#{dto.guaranteeTime,jdbcType=VARCHAR},
			           t1.guarantee_idtype               =#{dto.guaranteeIdtype,jdbcType=VARCHAR},
			           t1.guarantee_idname               =#{dto.guaranteeIdname,jdbcType=VARCHAR},
			           t1.guarantee_idno                 =#{dto.guaranteeIdno,jdbcType=VARCHAR},
			           t1.organization                   =#{dto.organization,jdbcType=VARCHAR},
			           t1.contract_amount                =#{dto.contractAmount,jdbcType=VARCHAR},
			           t1.guarantee_amount               =#{dto.guaranteeAmount,jdbcType=VARCHAR},
			           t1.principa_amount                =#{dto.principaAmount,jdbcType=VARCHAR},
			           t1.record_time                    =#{dto.recordTime,jdbcType=VARCHAR},
			           t1.isfail                         =#{dto.isfail,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1',
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_SH_SR_GUARANTEES -->
<delete id="deleteExtWlShSrGuaranteesByID" parameterType="java.util.Map">
    	delete from ext_wl_sh_sr_guarantees t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_SH_SR_GUARANTEES -->
<update id="deleteExtWlShSrGuaranteesByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_sh_sr_guarantees t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

	<!--批量新增 算话人行结构化版(为他人担保信息表)列表-->
	<insert id="insertExtWlShSrGuaranteesList" parameterType="java.util.Map" useGeneratedKeys="true">
		begin
		<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
			select seq_EXT_WL_SH_SR_GUARANTEES.nextval as id from dual
		</selectKey>
		<foreach collection="dtoList" item="dto" >
			insert into ext_wl_sh_sr_guarantees
			(
			id,
			fk_report_id,
			original,
			guarantee_time,
			guarantee_idtype,
			guarantee_idname,
			guarantee_idno,
			organization,
			contract_amount,
			guarantee_amount,
			principa_amount,
			record_time,
			isfail,
			create_time,
			validate_state
			)
			values(seq_EXT_WL_SH_SR_GUARANTEES.nextval
			,#{fkReportId}
			,#{dto.original,jdbcType=VARCHAR}
			,#{dto.guaranteeTime,jdbcType=VARCHAR}
			,#{dto.guaranteeIdtype,jdbcType=VARCHAR}
			,#{dto.guaranteeIdname,jdbcType=VARCHAR}
			,#{dto.guaranteeIdno,jdbcType=VARCHAR}
			,#{dto.organization,jdbcType=VARCHAR}
			,#{dto.contractAmount,jdbcType=VARCHAR}
			,#{dto.guaranteeAmount,jdbcType=VARCHAR}
			,#{dto.principaAmount,jdbcType=VARCHAR}
			,#{dto.recordTime,jdbcType=VARCHAR}
			,#{dto.isfail,jdbcType=VARCHAR}
			,systimestamp
			,'1'
			);
		</foreach>
		end;
	</insert>
</mapper>