<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.bqs.extwlbqsrulecontent.dao.ExtWlBqsRuleContentDao">
<resultMap id="ExtWlBqsRuleContentDTO" type="com.jy.modules.externalplatform.interfacerepository.bqs.extwlbqsrulecontent.dto.ExtWlBqsRuleContentDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="strategySetId" column="STRATEGY_SET_ID" jdbcType="DECIMAL" />
				<result property="ruleName" column="RULE_NAME" jdbcType="VARCHAR" />
				<result property="ruleId" column="RULE_ID" jdbcType="VARCHAR" />
				<result property="score" column="SCORE" jdbcType="VARCHAR" />
				<result property="decision" column="DECISION" jdbcType="VARCHAR" />
				<result property="memo" column="MEMO" jdbcType="VARCHAR" />
				<result property="templateType" column="TEMPLATE_TYPE" jdbcType="VARCHAR" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_BQS_RULE_CONTENT -->	
<select id="searchExtWlBqsRuleContentByPaging" parameterType="java.util.Map" resultMap="ExtWlBqsRuleContentDTO">
    	 		select 
						t1.id                             ,
						t1.strategy_set_id                ,
						t1.rule_name                      ,
						t1.rule_id                        ,
						t1.score                          ,
						t1.decision                       ,
						t1.memo                           ,
						t1.template_type                  ,
						t1.validate_state                 ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_bqs_rule_content 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.strategySetId != null and dto.strategySetId != ''">
						and t1.STRATEGY_SET_ID =#{dto.strategySetId}
    			</if>
    			<if test="dto.ruleName != null and dto.ruleName != ''">
						and t1.RULE_NAME =#{dto.ruleName}
    			</if>
    			<if test="dto.ruleId != null and dto.ruleId != ''">
						and t1.RULE_ID =#{dto.ruleId}
    			</if>
    			<if test="dto.score != null and dto.score != ''">
						and t1.SCORE =#{dto.score}
    			</if>
    			<if test="dto.decision != null and dto.decision != ''">
						and t1.DECISION =#{dto.decision}
    			</if>
    			<if test="dto.memo != null and dto.memo != ''">
						and t1.MEMO =#{dto.memo}
    			</if>
    			<if test="dto.templateType != null and dto.templateType != ''">
						and t1.TEMPLATE_TYPE =#{dto.templateType}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_BQS_RULE_CONTENT  -->
<select id="searchExtWlBqsRuleContent" parameterType="java.util.Map" resultMap="ExtWlBqsRuleContentDTO">
    	     select 
						t1.id                             ,
						t1.strategy_set_id                ,
						t1.rule_name                      ,
						t1.rule_id                        ,
						t1.score                          ,
						t1.decision                       ,
						t1.memo                           ,
						t1.template_type                  ,
						t1.validate_state                 ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_bqs_rule_content 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.strategySetId != null and dto.strategySetId != ''">
						and t1.STRATEGY_SET_ID = #{dto.strategySetId}
    			</if>
    			<if test="dto.ruleName != null and dto.ruleName != ''">
						and t1.RULE_NAME = #{dto.ruleName}
    			</if>
    			<if test="dto.ruleId != null and dto.ruleId != ''">
						and t1.RULE_ID = #{dto.ruleId}
    			</if>
    			<if test="dto.score != null and dto.score != ''">
						and t1.SCORE = #{dto.score}
    			</if>
    			<if test="dto.decision != null and dto.decision != ''">
						and t1.DECISION = #{dto.decision}
    			</if>
    			<if test="dto.memo != null and dto.memo != ''">
						and t1.MEMO = #{dto.memo}
    			</if>
    			<if test="dto.templateType != null and dto.templateType != ''">
						and t1.TEMPLATE_TYPE = #{dto.templateType}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_BQS_RULE_CONTENT -->
<select id="findExtWlBqsRuleContentByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlBqsRuleContentDTO">
   	 		select 
					t1.id                             ,
					t1.strategy_set_id                ,
					t1.rule_name                      ,
					t1.rule_id                        ,
					t1.score                          ,
					t1.decision                       ,
					t1.memo                           ,
					t1.template_type                  ,
					t1.validate_state                 ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_bqs_rule_content 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_BQS_RULE_CONTENT -->
<insert id="insertExtWlBqsRuleContent" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_BQS_RULE_CONTENT.nextval as id from dual
	</selectKey>
			insert into ext_wl_bqs_rule_content
			(   		
					id                             ,
					strategy_set_id                ,
					rule_name                      ,
					rule_id                        ,
					score                          ,
					decision                       ,
					memo                           ,
					template_type                  ,
					validate_state                 ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.strategySetId,jdbcType=DECIMAL}
					,#{dto.ruleName,jdbcType=VARCHAR}
					,#{dto.ruleId,jdbcType=VARCHAR}
					,#{dto.score,jdbcType=VARCHAR}
					,#{dto.decision,jdbcType=VARCHAR}
					,#{dto.memo,jdbcType=VARCHAR}
					,#{dto.templateType,jdbcType=VARCHAR}
					,'1'
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_BQS_RULE_CONTENT -->
<update id="updateExtWlBqsRuleContent" parameterType="java.util.Map">
	     update ext_wl_bqs_rule_content t1
	           set 
			           t1.strategy_set_id                =#{dto.strategySetId,jdbcType=DECIMAL},
			           t1.rule_name                      =#{dto.ruleName,jdbcType=VARCHAR},
			           t1.rule_id                        =#{dto.ruleId,jdbcType=VARCHAR},
			           t1.score                          =#{dto.score,jdbcType=VARCHAR},
			           t1.decision                       =#{dto.decision,jdbcType=VARCHAR},
			           t1.memo                           =#{dto.memo,jdbcType=VARCHAR},
			           t1.template_type                  =#{dto.templateType,jdbcType=VARCHAR},
			           t1.validate_state                 ='1',
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_BQS_RULE_CONTENT -->
<delete id="deleteExtWlBqsRuleContentByID" parameterType="java.util.Map">
    	delete from ext_wl_bqs_rule_content t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_BQS_RULE_CONTENT -->
<update id="deleteExtWlBqsRuleContentByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_bqs_rule_content t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>