<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshqrecordsumm.dao.ExtWlShQrecordSummDao">
<resultMap id="ExtWlShQrecordSummDTO" type="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshqrecordsumm.dto.ExtWlShQrecordSummDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="fkReportId" column="FK_REPORT_ID" jdbcType="DECIMAL" />
				<result property="organization" column="ORGANIZATION" jdbcType="VARCHAR" />
				<result property="individual" column="INDIVIDUAL" jdbcType="VARCHAR" />
				<result property="intro" column="INTRO" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_SH_QRECORD_SUMM -->	
<select id="searchExtWlShQrecordSummByPaging" parameterType="java.util.Map" resultMap="ExtWlShQrecordSummDTO">
    	 		select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.organization                   ,
						t1.individual                     ,
						t1.intro                          ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_sh_qrecord_summ 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID =#{dto.fkReportId}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION =#{dto.organization}
    			</if>
    			<if test="dto.individual != null and dto.individual != ''">
						and t1.INDIVIDUAL =#{dto.individual}
    			</if>
    			<if test="dto.intro != null and dto.intro != ''">
						and t1.INTRO =#{dto.intro}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_SH_QRECORD_SUMM  -->
<select id="searchExtWlShQrecordSumm" parameterType="java.util.Map" resultMap="ExtWlShQrecordSummDTO">
    	     select 
						t1.id                             ,
						t1.fk_report_id                   ,
						t1.organization                   ,
						t1.individual                     ,
						t1.intro                          ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_sh_qrecord_summ 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID = #{dto.fkReportId}
    			</if>
    			<if test="dto.organization != null and dto.organization != ''">
						and t1.ORGANIZATION = #{dto.organization}
    			</if>
    			<if test="dto.individual != null and dto.individual != ''">
						and t1.INDIVIDUAL = #{dto.individual}
    			</if>
    			<if test="dto.intro != null and dto.intro != ''">
						and t1.INTRO = #{dto.intro}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_SH_QRECORD_SUMM -->
<select id="findExtWlShQrecordSummByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlShQrecordSummDTO">
   	 		select 
					t1.id                             ,
					t1.fk_report_id                   ,
					t1.organization                   ,
					t1.individual                     ,
					t1.intro                          ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.validate_state                 ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_sh_qrecord_summ 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_SH_QRECORD_SUMM -->
<insert id="insertExtWlShQrecordSumm" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_SH_QRECORD_SUMM.nextval as id from dual
	</selectKey>
			insert into ext_wl_sh_qrecord_summ
			(   		
					id                             ,
					fk_report_id                   ,
					organization                   ,
					individual                     ,
					intro                          ,
					create_time                    ,
					modify_time                    ,
					validate_state                 ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.fkReportId,jdbcType=DECIMAL}
					,#{dto.organization,jdbcType=VARCHAR}
					,#{dto.individual,jdbcType=VARCHAR}
					,#{dto.intro,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_SH_QRECORD_SUMM -->
<update id="updateExtWlShQrecordSumm" parameterType="java.util.Map">
	     update ext_wl_sh_qrecord_summ t1
	           set 
			           t1.fk_report_id                   =#{dto.fkReportId,jdbcType=DECIMAL},
			           t1.organization                   =#{dto.organization,jdbcType=VARCHAR},
			           t1.individual                     =#{dto.individual,jdbcType=VARCHAR},
			           t1.intro                          =#{dto.intro,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1',
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_SH_QRECORD_SUMM -->
<delete id="deleteExtWlShQrecordSummByID" parameterType="java.util.Map">
    	delete from ext_wl_sh_qrecord_summ t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_SH_QRECORD_SUMM -->
<update id="deleteExtWlShQrecordSummByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_sh_qrecord_summ t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>