<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtblack.dao.ExtWlZxtBlackDao">
<resultMap id="ExtWlZxtBlackDTO" type="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtblack.dto.ExtWlZxtBlackDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="moduleFkId" column="MODULE_FK_ID" jdbcType="DECIMAL" />
				<result property="blackType" column="BLACK_TYPE" jdbcType="VARCHAR" />
				<result property="itemName" column="ITEM_NAME" jdbcType="VARCHAR" />
				<result property="label" column="LABEL" jdbcType="VARCHAR" />
				<result property="itemValue" column="ITEM_VALUE" jdbcType="VARCHAR" />
				<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 ext_wl_zxt_black -->	
<select id="searchExtWlZxtBlackByPaging" parameterType="java.util.Map" resultMap="ExtWlZxtBlackDTO">
    	 		select 
						t1.id                             ,
						t1.module_fk_id                   ,
						t1.black_type                     ,
						t1.item_name                      ,
						t1.label                          ,
						t1.item_value                     ,
						t1.remarks                        ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_zxt_black 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.moduleFkId != null and dto.moduleFkId != ''">
						and t1.MODULE_FK_ID =#{dto.moduleFkId}
    			</if>
    			<if test="dto.blackType != null and dto.blackType != ''">
						and t1.BLACK_TYPE =#{dto.blackType}
    			</if>
    			<if test="dto.itemName != null and dto.itemName != ''">
						and t1.ITEM_NAME =#{dto.itemName}
    			</if>
    			<if test="dto.label != null and dto.label != ''">
						and t1.LABEL =#{dto.label}
    			</if>
    			<if test="dto.itemValue != null and dto.itemValue != ''">
						and t1.ITEM_VALUE =#{dto.itemValue}
    			</if>
    			<if test="dto.remarks != null and dto.remarks != ''">
						and t1.REMARKS =#{dto.remarks}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 ext_wl_zxt_black  -->
<select id="searchExtWlZxtBlack" parameterType="java.util.Map" resultMap="ExtWlZxtBlackDTO">
    	     select 
						t1.id                             ,
						t1.module_fk_id                   ,
						t1.black_type                     ,
						t1.item_name                      ,
						t1.label                          ,
						t1.item_value                     ,
						t1.remarks                        ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_zxt_black 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.moduleFkId != null and dto.moduleFkId != ''">
						and t1.MODULE_FK_ID = #{dto.moduleFkId}
    			</if>
    			<if test="dto.blackType != null and dto.blackType != ''">
						and t1.BLACK_TYPE = #{dto.blackType}
    			</if>
    			<if test="dto.itemName != null and dto.itemName != ''">
						and t1.ITEM_NAME = #{dto.itemName}
    			</if>
    			<if test="dto.label != null and dto.label != ''">
						and t1.LABEL = #{dto.label}
    			</if>
    			<if test="dto.itemValue != null and dto.itemValue != ''">
						and t1.ITEM_VALUE = #{dto.itemValue}
    			</if>
    			<if test="dto.remarks != null and dto.remarks != ''">
						and t1.REMARKS = #{dto.remarks}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  ext_wl_zxt_black -->
<select id="findExtWlZxtBlackByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlZxtBlackDTO">
   	 		select 
					t1.id                             ,
					t1.module_fk_id                   ,
					t1.black_type                     ,
					t1.item_name                      ,
					t1.label                          ,
					t1.item_value                     ,
					t1.remarks                        ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_zxt_black 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 ext_wl_zxt_black -->
<insert id="insertExtWlZxtBlack" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_ext_wl_zxt_black.nextval as id from dual
	</selectKey>
			insert into ext_wl_zxt_black
			(   		
					id                             ,
					module_fk_id                   ,
					black_type                     ,
					item_name                      ,
					label                          ,
					item_value                     ,
					remarks                        ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.moduleFkId,jdbcType=DECIMAL}
					,#{dto.blackType,jdbcType=VARCHAR}
					,#{dto.itemName,jdbcType=VARCHAR}
					,#{dto.label,jdbcType=VARCHAR}
					,#{dto.itemValue,jdbcType=VARCHAR}
					,#{dto.remarks,jdbcType=VARCHAR}
					,#{dto.createTime,jdbcType=TIMESTAMP}
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 ext_wl_zxt_black -->
<update id="updateExtWlZxtBlack" parameterType="java.util.Map">
	     update ext_wl_zxt_black t1
	           set 
			           t1.module_fk_id                   =#{dto.moduleFkId,jdbcType=DECIMAL},
			           t1.black_type                     =#{dto.blackType,jdbcType=VARCHAR},
			           t1.item_name                      =#{dto.itemName,jdbcType=VARCHAR},
			           t1.label                          =#{dto.label,jdbcType=VARCHAR},
			           t1.item_value                     =#{dto.itemValue,jdbcType=VARCHAR},
			           t1.remarks                        =#{dto.remarks,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 ext_wl_zxt_black -->
<delete id="deleteExtWlZxtBlackByID" parameterType="java.util.Map">
    	delete from ext_wl_zxt_black t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 ext_wl_zxt_black -->
<update id="deleteExtWlZxtBlackByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_zxt_black t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>