<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrtraces.dao.ExtWlShSrTracesDao">
<resultMap id="ExtWlShSrTracesDTO" type="com.jy.modules.externalplatform.interfacerepository.suanhuazx.extwlshsrtraces.dto.ExtWlShSrTracesDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="original" column="ORIGINAL" jdbcType="VARCHAR" />
				<result property="queryTime" column="QUERY_TIME" jdbcType="VARCHAR" />
				<result property="queryOperator" column="QUERY_OPERATOR" jdbcType="VARCHAR" />
				<result property="queryReason" column="QUERY_REASON" jdbcType="VARCHAR" />
				<result property="isfail" column="ISFAIL" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="fkReportId" column="FK_REPORT_ID" jdbcType="DECIMAL" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_SH_SR_TRACES -->	
<select id="searchExtWlShSrTracesByPaging" parameterType="java.util.Map" resultMap="ExtWlShSrTracesDTO">
    	 		select 
						t1.id                             ,
						t1.original                       ,
						t1.query_time                     ,
						t1.query_operator                 ,
						t1.query_reason                   ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.fk_report_id                   ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_sh_sr_traces 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL =#{dto.original}
    			</if>
    			<if test="dto.queryTime != null and dto.queryTime != ''">
						and t1.QUERY_TIME =#{dto.queryTime}
    			</if>
    			<if test="dto.queryOperator != null and dto.queryOperator != ''">
						and t1.QUERY_OPERATOR =#{dto.queryOperator}
    			</if>
    			<if test="dto.queryReason != null and dto.queryReason != ''">
						and t1.QUERY_REASON =#{dto.queryReason}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL =#{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID =#{dto.fkReportId}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_SH_SR_TRACES  -->
<select id="searchExtWlShSrTraces" parameterType="java.util.Map" resultMap="ExtWlShSrTracesDTO">
    	     select 
						t1.id                             ,
						t1.original                       ,
						t1.query_time                     ,
						t1.query_operator                 ,
						t1.query_reason                   ,
						t1.isfail                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.fk_report_id                   ,
						t1.validate_state                 ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_sh_sr_traces 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.original != null and dto.original != ''">
						and t1.ORIGINAL = #{dto.original}
    			</if>
    			<if test="dto.queryTime != null and dto.queryTime != ''">
						and t1.QUERY_TIME = #{dto.queryTime}
    			</if>
    			<if test="dto.queryOperator != null and dto.queryOperator != ''">
						and t1.QUERY_OPERATOR = #{dto.queryOperator}
    			</if>
    			<if test="dto.queryReason != null and dto.queryReason != ''">
						and t1.QUERY_REASON = #{dto.queryReason}
    			</if>
    			<if test="dto.isfail != null and dto.isfail != ''">
						and t1.ISFAIL = #{dto.isfail}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.fkReportId != null and dto.fkReportId != ''">
						and t1.FK_REPORT_ID = #{dto.fkReportId}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_SH_SR_TRACES -->
<select id="findExtWlShSrTracesByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlShSrTracesDTO">
   	 		select 
					t1.id                             ,
					t1.original                       ,
					t1.query_time                     ,
					t1.query_operator                 ,
					t1.query_reason                   ,
					t1.isfail                         ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.fk_report_id                   ,
					t1.validate_state                 ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_sh_sr_traces 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_SH_SR_TRACES -->
<insert id="insertExtWlShSrTraces" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_SH_SR_TRACES.nextval as id from dual
	</selectKey>
			insert into ext_wl_sh_sr_traces
			(   		
					id                             ,
					original                       ,
					query_time                     ,
					query_operator                 ,
					query_reason                   ,
					isfail                         ,
					create_time                    ,
					modify_time                    ,
					fk_report_id                   ,
					validate_state                 ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.original,jdbcType=VARCHAR}
					,#{dto.queryTime,jdbcType=VARCHAR}
					,#{dto.queryOperator,jdbcType=VARCHAR}
					,#{dto.queryReason,jdbcType=VARCHAR}
					,#{dto.isfail,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,#{dto.fkReportId,jdbcType=DECIMAL}
					,'1'
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_SH_SR_TRACES -->
<update id="updateExtWlShSrTraces" parameterType="java.util.Map">
	     update ext_wl_sh_sr_traces t1
	           set 
			           t1.original                       =#{dto.original,jdbcType=VARCHAR},
			           t1.query_time                     =#{dto.queryTime,jdbcType=VARCHAR},
			           t1.query_operator                 =#{dto.queryOperator,jdbcType=VARCHAR},
			           t1.query_reason                   =#{dto.queryReason,jdbcType=VARCHAR},
			           t1.isfail                         =#{dto.isfail,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.fk_report_id                   =#{dto.fkReportId,jdbcType=DECIMAL},
			           t1.validate_state                 ='1',
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_SH_SR_TRACES -->
<delete id="deleteExtWlShSrTracesByID" parameterType="java.util.Map">
    	delete from ext_wl_sh_sr_traces t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_SH_SR_TRACES -->
<update id="deleteExtWlShSrTracesByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_sh_sr_traces t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

	<!--批量新增 算话人行结构化版(查询记录表)列表-->
	<insert id="insertExtWlShSrTracesList" parameterType="java.util.Map" useGeneratedKeys="true">
		begin
		<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
			select seq_EXT_WL_SH_SR_TRACES.nextval as id from dual
		</selectKey>
		<foreach collection="dtoList" item="dto" >
			insert into ext_wl_sh_sr_traces
			(
			id,
			original,
			query_time,
			query_operator,
			query_reason,
			isfail,
			create_time,
			fk_report_id,
			validate_state
			)
			values(seq_EXT_WL_SH_SR_TRACES.nextval
			,#{dto.original,jdbcType=VARCHAR}
			,#{dto.queryTime,jdbcType=VARCHAR}
			,#{dto.queryOperator,jdbcType=VARCHAR}
			,#{dto.queryReason,jdbcType=VARCHAR}
			,#{dto.isfail,jdbcType=VARCHAR}
			,systimestamp
			,#{fkReportId}
			,'1'
			);
		</foreach>
		end;
	</insert>
</mapper>