<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.weishidun.extwlwsdblack.dao.ExtWlWsdBlackDao">
<resultMap id="ExtWlWsdBlackDTO" type="com.jy.modules.externalplatform.interfacerepository.weishidun.extwlwsdblack.dto.ExtWlWsdBlackDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="code" column="CODE" jdbcType="VARCHAR" />
				<result property="message" column="MESSAGE" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 ext_wl_wsd_black -->	
<select id="searchExtWlWsdBlackByPaging" parameterType="java.util.Map" resultMap="ExtWlWsdBlackDTO">
    	 		select 
						t1.id                             ,
						t1.code                           ,
						t1.message                        ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_wsd_black 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.code != null and dto.code != ''">
						and t1.CODE =#{dto.code}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE =#{dto.message}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 ext_wl_wsd_black  -->
<select id="searchExtWlWsdBlack" parameterType="java.util.Map" resultMap="ExtWlWsdBlackDTO">
    	     select 
						t1.id                             ,
						t1.code                           ,
						t1.message                        ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_wsd_black 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.code != null and dto.code != ''">
						and t1.CODE = #{dto.code}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE = #{dto.message}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  ext_wl_wsd_black -->
<select id="findExtWlWsdBlackByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlWsdBlackDTO">
   	 		select 
					t1.id                             ,
					t1.code                           ,
					t1.message                        ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_wsd_black 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 ext_wl_wsd_black -->
<insert id="insertExtWlWsdBlack" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_ext_wl_wsd_black.nextval as id from dual
	</selectKey>
			insert into ext_wl_wsd_black
			(   		
					id                             ,
					code                           ,
					message                        ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.code,jdbcType=VARCHAR}
					,#{dto.message,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 ext_wl_wsd_black -->
<update id="updateExtWlWsdBlack" parameterType="java.util.Map">
	     update ext_wl_wsd_black t1
	           set 
			           t1.code                           =#{dto.code,jdbcType=VARCHAR},
			           t1.message                        =#{dto.message,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 ext_wl_wsd_black -->
<delete id="deleteExtWlWsdBlackByID" parameterType="java.util.Map">
    	delete from ext_wl_wsd_black t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 ext_wl_wsd_black -->
<update id="deleteExtWlWsdBlackByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_wsd_black t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>