<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.jxl.extjxldeliveraddressstock.dao.ExtJxlDeliverAddressStockDao">
<resultMap id="ExtJxlDeliverAddressStockDTO" type="com.jy.modules.externalplatform.interfacerepository.jxl.extjxldeliveraddressstock.dto.ExtJxlDeliverAddressStockDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="fkJxlCustInfoId" column="FK_JXL_CUST_INFO_ID" jdbcType="DECIMAL" />
				<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
				<result property="lng" column="LNG" jdbcType="DECIMAL" />
				<result property="lat" column="LAT" jdbcType="DECIMAL" />
				<result property="predictAddrType" column="PREDICT_ADDR_TYPE" jdbcType="VARCHAR" />
				<result property="beginDate" column="BEGIN_DATE" jdbcType="VARCHAR" />
				<result property="endDate" column="END_DATE" jdbcType="VARCHAR" />
				<result property="totalAmount" column="TOTAL_AMOUNT" jdbcType="DECIMAL" />
				<result property="totalCount" column="TOTAL_COUNT" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
</resultMap>
				
<!-- 分页查询 EXT_JXL_DELIVER_ADDRESS_STOCK -->	
<select id="searchExtJxlDeliverAddressStockByPaging" parameterType="java.util.Map" resultMap="ExtJxlDeliverAddressStockDTO">
    	 		select 
						t1.id                             ,
						t1.fk_jxl_cust_info_id            ,
						t1.address                        ,
						t1.lng                            ,
						t1.lat                            ,
						t1.predict_addr_type              ,
						t1.begin_date                     ,
						t1.end_date                       ,
						t1.total_amount                   ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.total_count                    
					
				from ext_jxl_deliver_address_stock 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.fkJxlCustInfoId != null and dto.fkJxlCustInfoId != ''">
						and t1.FK_JXL_CUST_INFO_ID =#{dto.fkJxlCustInfoId}
    			</if>
    			<if test="dto.address != null and dto.address != ''">
						and t1.ADDRESS =#{dto.address}
    			</if>
    			<if test="dto.lng != null and dto.lng != ''">
						and t1.LNG =#{dto.lng}
    			</if>
    			<if test="dto.lat != null and dto.lat != ''">
						and t1.LAT =#{dto.lat}
    			</if>
    			<if test="dto.predictAddrType != null and dto.predictAddrType != ''">
						and t1.PREDICT_ADDR_TYPE =#{dto.predictAddrType}
    			</if>
    			<if test="dto.beginDate != null and dto.beginDate != ''">
						and t1.BEGIN_DATE =#{dto.beginDate}
    			</if>
    			<if test="dto.endDate != null and dto.endDate != ''">
						and t1.END_DATE =#{dto.endDate}
    			</if>
    			<if test="dto.totalAmount != null and dto.totalAmount != ''">
						and t1.TOTAL_AMOUNT =#{dto.totalAmount}
    			</if>
    			<if test="dto.totalCount != null and dto.totalCount != ''">
						and t1.TOTAL_COUNT =#{dto.totalCount}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_JXL_DELIVER_ADDRESS_STOCK  -->
<select id="searchExtJxlDeliverAddressStock" parameterType="java.util.Map" resultMap="ExtJxlDeliverAddressStockDTO">
    	     select 
						t1.id                             ,
						t1.fk_jxl_cust_info_id            ,
						t1.address                        ,
						t1.lng                            ,
						t1.lat                            ,
						t1.predict_addr_type              ,
						t1.begin_date                     ,
						t1.end_date                       ,
						t1.total_amount                   ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.total_count                    
				from ext_jxl_deliver_address_stock 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.fkJxlCustInfoId != null and dto.fkJxlCustInfoId != ''">
						and t1.FK_JXL_CUST_INFO_ID = #{dto.fkJxlCustInfoId}
    			</if>
    			<if test="dto.address != null and dto.address != ''">
						and t1.ADDRESS = #{dto.address}
    			</if>
    			<if test="dto.lng != null and dto.lng != ''">
						and t1.LNG = #{dto.lng}
    			</if>
    			<if test="dto.lat != null and dto.lat != ''">
						and t1.LAT = #{dto.lat}
    			</if>
    			<if test="dto.predictAddrType != null and dto.predictAddrType != ''">
						and t1.PREDICT_ADDR_TYPE = #{dto.predictAddrType}
    			</if>
    			<if test="dto.beginDate != null and dto.beginDate != ''">
						and t1.BEGIN_DATE = #{dto.beginDate}
    			</if>
    			<if test="dto.endDate != null and dto.endDate != ''">
						and t1.END_DATE = #{dto.endDate}
    			</if>
    			<if test="dto.totalAmount != null and dto.totalAmount != ''">
						and t1.TOTAL_AMOUNT = #{dto.totalAmount}
    			</if>
    			<if test="dto.totalCount != null and dto.totalCount != ''">
						and t1.TOTAL_COUNT = #{dto.totalCount}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_JXL_DELIVER_ADDRESS_STOCK -->
<select id="findExtJxlDeliverAddressStockByPrimaryKey" parameterType="java.util.Map" resultMap="ExtJxlDeliverAddressStockDTO">
   	 		select 
					t1.id                             ,
					t1.fk_jxl_cust_info_id            ,
					t1.address                        ,
					t1.lng                            ,
					t1.lat                            ,
					t1.predict_addr_type              ,
					t1.begin_date                     ,
					t1.end_date                       ,
					t1.total_amount                   ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.total_count                    
			from ext_jxl_deliver_address_stock 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_JXL_DELIVER_ADDRESS_STOCK -->
<insert id="insertExtJxlDeliverAddressStock" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select SEQ_EXT_JXL_DEL_ADDRESS_STOCK.nextval as id from dual
	</selectKey>
			insert into ext_jxl_deliver_address_stock
			(   		
					id                             ,
					fk_jxl_cust_info_id            ,
					address                        ,
					lng                            ,
					lat                            ,
					predict_addr_type              ,
					begin_date                     ,
					end_date                       ,
					total_amount                   ,
					create_time                    ,
					total_count                    
			)
			values(#{dto.id}
					,#{dto.fkJxlCustInfoId,jdbcType=DECIMAL}
					,#{dto.address,jdbcType=VARCHAR}
					,#{dto.lng,jdbcType=DECIMAL}
					,#{dto.lat,jdbcType=DECIMAL}
					,#{dto.predictAddrType,jdbcType=VARCHAR}
					,#{dto.beginDate,jdbcType=VARCHAR}
					,#{dto.endDate,jdbcType=VARCHAR}
					,#{dto.totalAmount,jdbcType=DECIMAL}
					,systimestamp
					,#{dto.totalCount,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_JXL_DELIVER_ADDRESS_STOCK -->
<update id="updateExtJxlDeliverAddressStock" parameterType="java.util.Map">
	     update ext_jxl_deliver_address_stock t1
	           set 
			           t1.fk_jxl_cust_info_id            =#{dto.fkJxlCustInfoId,jdbcType=DECIMAL},
			           t1.address                        =#{dto.address,jdbcType=VARCHAR},
			           t1.lng                            =#{dto.lng,jdbcType=DECIMAL},
			           t1.lat                            =#{dto.lat,jdbcType=DECIMAL},
			           t1.predict_addr_type              =#{dto.predictAddrType,jdbcType=VARCHAR},
			           t1.begin_date                     =#{dto.beginDate,jdbcType=VARCHAR},
			           t1.end_date                       =#{dto.endDate,jdbcType=VARCHAR},
			           t1.total_amount                   =#{dto.totalAmount,jdbcType=DECIMAL},
					   t1.modify_time                    =systimestamp,
			           t1.total_count                    =#{dto.totalCount,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_JXL_DELIVER_ADDRESS_STOCK -->
<delete id="deleteExtJxlDeliverAddressStockByID" parameterType="java.util.Map">
    	delete from ext_jxl_deliver_address_stock t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_JXL_DELIVER_ADDRESS_STOCK -->
<update id="deleteExtJxlDeliverAddressStockByPrimaryKey" parameterType="java.util.Map">
	     update ext_jxl_deliver_address_stock t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>