<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidupenalty.dao.ExtWlBaiduPenaltyDao">
<resultMap id="ExtWlBaiduPenaltyDTO" type="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidupenalty.dto.ExtWlBaiduPenaltyDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="keyId" column="KEY_ID" jdbcType="VARCHAR" />
				<result property="regDate" column="REG_DATE" jdbcType="VARCHAR" />
				<result property="cfWshu" column="CF_WSHU" jdbcType="VARCHAR" />
				<result property="cfCfmc" column="CF_CFMC" jdbcType="VARCHAR" />
				<result property="cfSy" column="CF_SY" jdbcType="VARCHAR" />
				<result property="cfJg" column="CF_JG" jdbcType="VARCHAR" />
				<result property="cfXzjg" column="CF_XZJG" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 EXT_WL_BAIDU_PENALTY -->	
<select id="searchExtWlBaiduPenaltyByPaging" parameterType="java.util.Map" resultMap="ExtWlBaiduPenaltyDTO">
    	 		select 
						t1.id                             ,
						t1.key_id                         ,
						t1.reg_date                       ,
						t1.cf_wshu                        ,
						t1.cf_cfmc                        ,
						t1.cf_sy                          ,
						t1.cf_jg                          ,
						t1.cf_xzjg                        ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
					
				from ext_wl_baidu_penalty 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.keyId != null and dto.keyId != ''">
						and t1.KEY_ID =#{dto.keyId}
    			</if>
    			<if test="dto.regDate != null and dto.regDate != ''">
						and t1.REG_DATE =#{dto.regDate}
    			</if>
    			<if test="dto.cfWshu != null and dto.cfWshu != ''">
						and t1.CF_WSHU =#{dto.cfWshu}
    			</if>
    			<if test="dto.cfCfmc != null and dto.cfCfmc != ''">
						and t1.CF_CFMC =#{dto.cfCfmc}
    			</if>
    			<if test="dto.cfSy != null and dto.cfSy != ''">
						and t1.CF_SY =#{dto.cfSy}
    			</if>
    			<if test="dto.cfJg != null and dto.cfJg != ''">
						and t1.CF_JG =#{dto.cfJg}
    			</if>
    			<if test="dto.cfXzjg != null and dto.cfXzjg != ''">
						and t1.CF_XZJG =#{dto.cfXzjg}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_BAIDU_PENALTY  -->
<select id="searchExtWlBaiduPenalty" parameterType="java.util.Map" resultMap="ExtWlBaiduPenaltyDTO">
    	     select 
						t1.id                             ,
						t1.key_id                         ,
						t1.reg_date                       ,
						t1.cf_wshu                        ,
						t1.cf_cfmc                        ,
						t1.cf_sy                          ,
						t1.cf_jg                          ,
						t1.cf_xzjg                        ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
				from ext_wl_baidu_penalty 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.keyId != null and dto.keyId != ''">
						and t1.KEY_ID = #{dto.keyId}
    			</if>
    			<if test="dto.regDate != null and dto.regDate != ''">
						and t1.REG_DATE = #{dto.regDate}
    			</if>
    			<if test="dto.cfWshu != null and dto.cfWshu != ''">
						and t1.CF_WSHU = #{dto.cfWshu}
    			</if>
    			<if test="dto.cfCfmc != null and dto.cfCfmc != ''">
						and t1.CF_CFMC = #{dto.cfCfmc}
    			</if>
    			<if test="dto.cfSy != null and dto.cfSy != ''">
						and t1.CF_SY = #{dto.cfSy}
    			</if>
    			<if test="dto.cfJg != null and dto.cfJg != ''">
						and t1.CF_JG = #{dto.cfJg}
    			</if>
    			<if test="dto.cfXzjg != null and dto.cfXzjg != ''">
						and t1.CF_XZJG = #{dto.cfXzjg}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_BAIDU_PENALTY -->
<select id="findExtWlBaiduPenaltyByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlBaiduPenaltyDTO">
   	 		select 
					t1.id                             ,
					t1.key_id                         ,
					t1.reg_date                       ,
					t1.cf_wshu                        ,
					t1.cf_cfmc                        ,
					t1.cf_sy                          ,
					t1.cf_jg                          ,
					t1.cf_xzjg                        ,
					t1.create_by                      ,
					t1.create_time                    ,
					t1.modify_by                      ,
					t1.modify_time                    ,
					t1.validate_state                 
			from ext_wl_baidu_penalty 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_BAIDU_PENALTY -->
<insert id="insertExtWlBaiduPenalty" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_BAIDU_PENALTY.nextval as id from dual
	</selectKey>
			insert into ext_wl_baidu_penalty
			(   		
					id                             ,
					key_id                         ,
					reg_date                       ,
					cf_wshu                        ,
					cf_cfmc                        ,
					cf_sy                          ,
					cf_jg                          ,
					cf_xzjg                        ,
					create_by                      ,
					create_time                    ,
					modify_by                      ,
					modify_time                    ,
					validate_state                 
			)
			values(#{dto.id}
					,#{dto.keyId,jdbcType=VARCHAR}
					,#{dto.regDate,jdbcType=VARCHAR}
					,#{dto.cfWshu,jdbcType=VARCHAR}
					,#{dto.cfCfmc,jdbcType=VARCHAR}
					,#{dto.cfSy,jdbcType=VARCHAR}
					,#{dto.cfJg,jdbcType=VARCHAR}
					,#{dto.cfXzjg,jdbcType=VARCHAR}
					,#{dto.createBy,jdbcType=DECIMAL}
					,systimestamp
					,#{dto.modifyBy,jdbcType=DECIMAL}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
			)
</insert>
    
<!-- 更新对象 EXT_WL_BAIDU_PENALTY -->
<update id="updateExtWlBaiduPenalty" parameterType="java.util.Map">
	     update ext_wl_baidu_penalty t1
	           set 
			           t1.key_id                         =#{dto.keyId,jdbcType=VARCHAR},
			           t1.reg_date                       =#{dto.regDate,jdbcType=VARCHAR},
			           t1.cf_wshu                        =#{dto.cfWshu,jdbcType=VARCHAR},
			           t1.cf_cfmc                        =#{dto.cfCfmc,jdbcType=VARCHAR},
			           t1.cf_sy                          =#{dto.cfSy,jdbcType=VARCHAR},
			           t1.cf_jg                          =#{dto.cfJg,jdbcType=VARCHAR},
			           t1.cf_xzjg                        =#{dto.cfXzjg,jdbcType=VARCHAR},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1'
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_BAIDU_PENALTY -->
<delete id="deleteExtWlBaiduPenaltyByID" parameterType="java.util.Map">
    	delete from ext_wl_baidu_penalty t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_BAIDU_PENALTY -->
<update id="deleteExtWlBaiduPenaltyByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_baidu_penalty t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

	<!-- 批量保存数据-->
	<insert id="insertBatchPenalty" parameterType="java.util.Map">
		declare
		detId number:=0;
		begin

		detId:=0;
		<foreach collection="penaltyList" item="dto" index="index" >
			select seq_EXT_WL_BAIDU_PENALTY.nextval into detId from dual;
			insert into ext_wl_baidu_penalty
			(
			id                             ,
			key_id                         ,
			reg_date                       ,
			cf_wshu                        ,
			cf_cfmc                        ,
			cf_sy                          ,
			cf_jg                          ,
			cf_xzjg                        ,
			create_by                      ,
			create_time                    ,
			validate_state
			)
			select detId
			,#{dto.keyId,jdbcType=VARCHAR}
			,#{dto.regDate,jdbcType=VARCHAR}
			,#{dto.cfWshu,jdbcType=VARCHAR}
			,#{dto.cfCfmc,jdbcType=VARCHAR}
			,#{dto.cfSy,jdbcType=VARCHAR}
			,#{dto.cfJg,jdbcType=VARCHAR}
			,#{dto.cfXzjg,jdbcType=VARCHAR}
			,#{dto.createBy,jdbcType=DECIMAL}
			,systimestamp
			,'1'
			from dual           ;
		</foreach>
		end ;
	</insert>
</mapper>