<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtmodule.dao.ExtWlZxtModuleDao">
<resultMap id="ExtWlZxtModuleDTO" type="com.jy.modules.externalplatform.interfacerepository.zxt.extwlzxtmodule.dto.ExtWlZxtModuleDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="searchFkId" column="SEARCH_FK_ID" jdbcType="DECIMAL" />
				<result property="moduleNo" column="MODULE_NO" jdbcType="VARCHAR" />
				<result property="status" column="STATUS" jdbcType="VARCHAR" />
				<result property="msg" column="MSG" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 ext_wl_zxt_module -->	
<select id="searchExtWlZxtModuleByPaging" parameterType="java.util.Map" resultMap="ExtWlZxtModuleDTO">
    	 		select 
						t1.id                             ,
						t1.search_fk_id                   ,
						t1.module_no                      ,
						t1.status                         ,
						t1.msg                            ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_zxt_module 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.searchFkId != null and dto.searchFkId != ''">
						and t1.SEARCH_FK_ID =#{dto.searchFkId}
    			</if>
    			<if test="dto.moduleNo != null and dto.moduleNo != ''">
						and t1.MODULE_NO =#{dto.moduleNo}
    			</if>
    			<if test="dto.status != null and dto.status != ''">
						and t1.STATUS =#{dto.status}
    			</if>
    			<if test="dto.msg != null and dto.msg != ''">
						and t1.MSG =#{dto.msg}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 ext_wl_zxt_module  -->
<select id="searchExtWlZxtModule" parameterType="java.util.Map" resultMap="ExtWlZxtModuleDTO">
    	     select 
						t1.id                             ,
						t1.search_fk_id                   ,
						t1.module_no                      ,
						t1.status                         ,
						t1.msg                            ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_zxt_module 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.searchFkId != null and dto.searchFkId != ''">
						and t1.SEARCH_FK_ID = #{dto.searchFkId}
    			</if>
    			<if test="dto.moduleNo != null and dto.moduleNo != ''">
						and t1.MODULE_NO = #{dto.moduleNo}
    			</if>
    			<if test="dto.status != null and dto.status != ''">
						and t1.STATUS = #{dto.status}
    			</if>
    			<if test="dto.msg != null and dto.msg != ''">
						and t1.MSG = #{dto.msg}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  ext_wl_zxt_module -->
<select id="findExtWlZxtModuleByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlZxtModuleDTO">
   	 		select 
					t1.id                             ,
					t1.search_fk_id                   ,
					t1.module_no                      ,
					t1.status                         ,
					t1.msg                            ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_zxt_module 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 ext_wl_zxt_module -->
<insert id="insertExtWlZxtModule" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_ext_wl_zxt_module.nextval as id from dual
	</selectKey>
			insert into ext_wl_zxt_module
			(   		
					id                             ,
					search_fk_id                   ,
					module_no                      ,
					status                         ,
					msg                            ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.searchFkId,jdbcType=DECIMAL}
					,#{dto.moduleNo,jdbcType=VARCHAR}
					,#{dto.status,jdbcType=VARCHAR}
					,#{dto.msg,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 ext_wl_zxt_module -->
<update id="updateExtWlZxtModule" parameterType="java.util.Map">
	     update ext_wl_zxt_module t1
	           set 
			           t1.search_fk_id                   =#{dto.searchFkId,jdbcType=DECIMAL},
			           t1.module_no                      =#{dto.moduleNo,jdbcType=VARCHAR},
			           t1.status                         =#{dto.status,jdbcType=VARCHAR},
			           t1.msg                            =#{dto.msg,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 ext_wl_zxt_module -->
<delete id="deleteExtWlZxtModuleByID" parameterType="java.util.Map">
    	delete from ext_wl_zxt_module t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 ext_wl_zxt_module -->
<update id="deleteExtWlZxtModuleByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_zxt_module t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>