<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidulbsinfo.dao.ExtWlBaiduLbsInfoDao">
<resultMap id="ExtWlBaiduLbsInfoDTO" type="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidulbsinfo.dto.ExtWlBaiduLbsInfoDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="intoId" column="INTO_ID" jdbcType="VARCHAR" />
				<result property="requestId" column="REQUEST_ID" jdbcType="VARCHAR" />
				<result property="status" column="STATUS" jdbcType="VARCHAR" />
				<result property="message" column="MESSAGE" jdbcType="VARCHAR" />
				<result property="realName" column="REAL_NAME" jdbcType="VARCHAR" />
				<result property="idType" column="ID_TYPE" jdbcType="VARCHAR" />
				<result property="idNo" column="ID_NO" jdbcType="VARCHAR" />
				<result property="cellPhone" column="CELL_PHONE" jdbcType="VARCHAR" />
				<result property="baiduAccount" column="BAIDU_ACCOUNT" jdbcType="VARCHAR" />
				<result property="imei" column="IMEI" jdbcType="VARCHAR" />
				<result property="visitFrequencyLevel" column="VISIT_FREQUENCY_LEVEL" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 EXT_WL_BAIDU_LBS_INFO -->	
<select id="searchExtWlBaiduLbsInfoByPaging" parameterType="java.util.Map" resultMap="ExtWlBaiduLbsInfoDTO">
    	 		select 
						t1.id                             ,
						t1.into_id                        ,
						t1.request_id                     ,
						t1.status                         ,
						t1.message                        ,
						t1.real_name                      ,
						t1.id_type                        ,
						t1.id_no                          ,
						t1.cell_phone                     ,
						t1.baidu_account                  ,
						t1.imei                           ,
						t1.visit_frequency_level          ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
					
				from ext_wl_baidu_lbs_info 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.intoId != null and dto.intoId != ''">
						and t1.INTO_ID =#{dto.intoId}
    			</if>
    			<if test="dto.requestId != null and dto.requestId != ''">
						and t1.REQUEST_ID =#{dto.requestId}
    			</if>
    			<if test="dto.status != null and dto.status != ''">
						and t1.STATUS =#{dto.status}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE =#{dto.message}
    			</if>
    			<if test="dto.realName != null and dto.realName != ''">
						and t1.REAL_NAME =#{dto.realName}
    			</if>
    			<if test="dto.idType != null and dto.idType != ''">
						and t1.ID_TYPE =#{dto.idType}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO =#{dto.idNo}
    			</if>
    			<if test="dto.cellPhone != null and dto.cellPhone != ''">
						and t1.CELL_PHONE =#{dto.cellPhone}
    			</if>
    			<if test="dto.baiduAccount != null and dto.baiduAccount != ''">
						and t1.BAIDU_ACCOUNT =#{dto.baiduAccount}
    			</if>
    			<if test="dto.imei != null and dto.imei != ''">
						and t1.IMEI =#{dto.imei}
    			</if>
    			<if test="dto.visitFrequencyLevel != null and dto.visitFrequencyLevel != ''">
						and t1.VISIT_FREQUENCY_LEVEL =#{dto.visitFrequencyLevel}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_BAIDU_LBS_INFO  -->
<select id="searchExtWlBaiduLbsInfo" parameterType="java.util.Map" resultMap="ExtWlBaiduLbsInfoDTO">
    	     select 
						t1.id                             ,
						t1.into_id                        ,
						t1.request_id                     ,
						t1.status                         ,
						t1.message                        ,
						t1.real_name                      ,
						t1.id_type                        ,
						t1.id_no                          ,
						t1.cell_phone                     ,
						t1.baidu_account                  ,
						t1.imei                           ,
						t1.visit_frequency_level          ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
				from ext_wl_baidu_lbs_info 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.intoId != null and dto.intoId != ''">
						and t1.INTO_ID = #{dto.intoId}
    			</if>
    			<if test="dto.requestId != null and dto.requestId != ''">
						and t1.REQUEST_ID = #{dto.requestId}
    			</if>
    			<if test="dto.status != null and dto.status != ''">
						and t1.STATUS = #{dto.status}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE = #{dto.message}
    			</if>
    			<if test="dto.realName != null and dto.realName != ''">
						and t1.REAL_NAME = #{dto.realName}
    			</if>
    			<if test="dto.idType != null and dto.idType != ''">
						and t1.ID_TYPE = #{dto.idType}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO = #{dto.idNo}
    			</if>
    			<if test="dto.cellPhone != null and dto.cellPhone != ''">
						and t1.CELL_PHONE = #{dto.cellPhone}
    			</if>
    			<if test="dto.baiduAccount != null and dto.baiduAccount != ''">
						and t1.BAIDU_ACCOUNT = #{dto.baiduAccount}
    			</if>
    			<if test="dto.imei != null and dto.imei != ''">
						and t1.IMEI = #{dto.imei}
    			</if>
    			<if test="dto.visitFrequencyLevel != null and dto.visitFrequencyLevel != ''">
						and t1.VISIT_FREQUENCY_LEVEL = #{dto.visitFrequencyLevel}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_BAIDU_LBS_INFO -->
<select id="findExtWlBaiduLbsInfoByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlBaiduLbsInfoDTO">
   	 		select 
					t1.id                             ,
					t1.into_id                        ,
					t1.request_id                     ,
					t1.status                         ,
					t1.message                        ,
					t1.real_name                      ,
					t1.id_type                        ,
					t1.id_no                          ,
					t1.cell_phone                     ,
					t1.baidu_account                  ,
					t1.imei                           ,
					t1.visit_frequency_level          ,
					t1.create_by                      ,
					t1.create_time                    ,
					t1.modify_by                      ,
					t1.modify_time                    ,
					t1.validate_state                 
			from ext_wl_baidu_lbs_info 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_BAIDU_LBS_INFO -->
<insert id="insertExtWlBaiduLbsInfo" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_ext_wl_baidu_lbs_info.nextval as id from dual
	</selectKey>
			insert into ext_wl_baidu_lbs_info
			(   		
					id                             ,
					into_id                        ,
					request_id                     ,
					status                         ,
					message                        ,
					real_name                      ,
					id_type                        ,
					id_no                          ,
					cell_phone                     ,
					baidu_account                  ,
					imei                           ,
					visit_frequency_level          ,
					create_by                      ,
					create_time                    ,
					modify_by                      ,
					modify_time                    ,
					validate_state                 
			)
			values(#{dto.id}
					,#{dto.intoId,jdbcType=VARCHAR}
					,#{dto.requestId,jdbcType=VARCHAR}
					,#{dto.status,jdbcType=VARCHAR}
					,#{dto.message,jdbcType=VARCHAR}
					,#{dto.realName,jdbcType=VARCHAR}
					,#{dto.idType,jdbcType=VARCHAR}
					,#{dto.idNo,jdbcType=VARCHAR}
					,#{dto.cellPhone,jdbcType=VARCHAR}
					,#{dto.baiduAccount,jdbcType=VARCHAR}
					,#{dto.imei,jdbcType=VARCHAR}
					,#{dto.visitFrequencyLevel,jdbcType=VARCHAR}
					,#{dto.createBy,jdbcType=DECIMAL}
					,systimestamp
					,#{dto.modifyBy,jdbcType=DECIMAL}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
			)
</insert>
    
<!-- 更新对象 EXT_WL_BAIDU_LBS_INFO -->
<update id="updateExtWlBaiduLbsInfo" parameterType="java.util.Map">
	     update ext_wl_baidu_lbs_info t1
	           set 
			           t1.into_id                        =#{dto.intoId,jdbcType=VARCHAR},
			           t1.request_id                     =#{dto.requestId,jdbcType=VARCHAR},
			           t1.status                         =#{dto.status,jdbcType=VARCHAR},
			           t1.message                        =#{dto.message,jdbcType=VARCHAR},
			           t1.real_name                      =#{dto.realName,jdbcType=VARCHAR},
			           t1.id_type                        =#{dto.idType,jdbcType=VARCHAR},
			           t1.id_no                          =#{dto.idNo,jdbcType=VARCHAR},
			           t1.cell_phone                     =#{dto.cellPhone,jdbcType=VARCHAR},
			           t1.baidu_account                  =#{dto.baiduAccount,jdbcType=VARCHAR},
			           t1.imei                           =#{dto.imei,jdbcType=VARCHAR},
			           t1.visit_frequency_level          =#{dto.visitFrequencyLevel,jdbcType=VARCHAR},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1'
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_BAIDU_LBS_INFO -->
<delete id="deleteExtWlBaiduLbsInfoByID" parameterType="java.util.Map">
    	delete from ext_wl_baidu_lbs_info t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_BAIDU_LBS_INFO -->
<update id="deleteExtWlBaiduLbsInfoByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_baidu_lbs_info t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>