<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.pa.extwlpainfo.dao.ExtWlPaInfoDao">
<resultMap id="ExtWlPaInfoDTO" type="com.jy.modules.externalplatform.interfacerepository.pa.extwlpainfo.dto.ExtWlPaInfoDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="intoId" column="INTO_ID" jdbcType="VARCHAR" />
				<result property="result" column="RESULT" jdbcType="VARCHAR" />
				<result property="message" column="MESSAGE" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 EXT_WL_PA_INFO -->	
<select id="searchExtWlPaInfoByPaging" parameterType="java.util.Map" resultMap="ExtWlPaInfoDTO">
    	 		select 
						t1.id                             ,
						t1.into_id                        ,
						t1.result                         ,
						t1.message                        ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
					
				from ext_wl_pa_info 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.intoId != null and dto.intoId != ''">
						and t1.INTO_ID =#{dto.intoId}
    			</if>
    			<if test="dto.result != null and dto.result != ''">
						and t1.RESULT =#{dto.result}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE =#{dto.message}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_PA_INFO  -->
<select id="searchExtWlPaInfo" parameterType="java.util.Map" resultMap="ExtWlPaInfoDTO">
    	     select 
						t1.id                             ,
						t1.into_id                        ,
						t1.result                         ,
						t1.message                        ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
				from ext_wl_pa_info 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.intoId != null and dto.intoId != ''">
						and t1.INTO_ID = #{dto.intoId}
    			</if>
    			<if test="dto.result != null and dto.result != ''">
						and t1.RESULT = #{dto.result}
    			</if>
    			<if test="dto.message != null and dto.message != ''">
						and t1.MESSAGE = #{dto.message}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_PA_INFO -->
<select id="findExtWlPaInfoByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlPaInfoDTO">
   	 		select 
					t1.id                             ,
					t1.into_id                        ,
					t1.result                         ,
					t1.message                        ,
					t1.create_by                      ,
					t1.create_time                    ,
					t1.modify_by                      ,
					t1.modify_time                    ,
					t1.validate_state                 
			from ext_wl_pa_info 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_PA_INFO -->
<insert id="insertExtWlPaInfo" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_PA_INFO.nextval as id from dual
	</selectKey>
			insert into ext_wl_pa_info
			(   		
					id                             ,
					into_id                        ,
					result                         ,
					message                        ,
					create_by                      ,
					create_time                    ,
					modify_by                      ,
					modify_time                    ,
					validate_state                 
			)
			values(#{dto.id}
					,#{dto.intoId,jdbcType=VARCHAR}
					,#{dto.result,jdbcType=VARCHAR}
					,#{dto.message,jdbcType=VARCHAR}
					,#{dto.createBy,jdbcType=DECIMAL}
					,systimestamp
					,#{dto.modifyBy,jdbcType=DECIMAL}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
			)
</insert>
    
<!-- 更新对象 EXT_WL_PA_INFO -->
<update id="updateExtWlPaInfo" parameterType="java.util.Map">
	     update ext_wl_pa_info t1
	           set 
			           t1.into_id                        =#{dto.intoId,jdbcType=VARCHAR},
			           t1.result                         =#{dto.result,jdbcType=VARCHAR},
			           t1.message                        =#{dto.message,jdbcType=VARCHAR},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1'
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_PA_INFO -->
<delete id="deleteExtWlPaInfoByID" parameterType="java.util.Map">
    	delete from ext_wl_pa_info t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_PA_INFO -->
<update id="deleteExtWlPaInfoByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_pa_info t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>