<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.xayx.extwlfpxalendinfo.dao.ExtWlFpxaLendInfoDao">
<resultMap id="ExtWlFpxaLendInfoDTO" type="com.jy.modules.externalplatform.interfacerepository.xayx.extwlfpxalendinfo.dto.ExtWlFpxaLendInfoDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="fkId" column="FK_ID" jdbcType="DECIMAL" />
				<result property="haveLoanApply" column="HAVE_LOAN_APPLY" jdbcType="VARCHAR" />
				<result property="applyStatus" column="APPLY_STATUS" jdbcType="VARCHAR" />
				<result property="applyCity" column="APPLY_CITY" jdbcType="VARCHAR" />
				<result property="lendsTime" column="LENDS_TIME" jdbcType="VARCHAR" />
				<result property="haveApply" column="HAVE_APPLY" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>


  
<!-- 新增对象 EXT_WL_FPXA_LEND_INFO -->
<insert id="insertExtWlFpxaLendInfo" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_FPXA_LEND_INFO.nextval as id from dual
	</selectKey>
			insert into ext_wl_fpxa_lend_info
			(   		
					id                             ,
					fk_id                          ,
					have_loan_apply                ,
					apply_status                   ,
					apply_city                     ,
					lends_time                     ,
					have_apply                     ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.fkId,jdbcType=DECIMAL}
					,#{dto.haveLoanApply,jdbcType=VARCHAR}
					,#{dto.applyStatus,jdbcType=VARCHAR}
					,#{dto.applyCity,jdbcType=VARCHAR}
					,#{dto.lendsTime,jdbcType=VARCHAR}
					,#{dto.haveApply,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>


</mapper>