<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.mg.extwljxlmgbaseinfo.dao.ExtWlJxlBlacklistDetailsDao">
<resultMap id="ExtWlJxlBlacklistDetailsDTO" type="com.jy.modules.externalplatform.interfacerepository.mg.extwljxlmgbaseinfo.dto.ExtWlJxlBlacklistDetailsDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="userGridId" column="USER_GRID_ID" jdbcType="VARCHAR" />
				<result property="detailsKey" column="DETAILS_KEY" jdbcType="VARCHAR" />
				<result property="detailsValue" column="DETAILS_VALUE" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_JXL_BLACKLIST_DETAILS -->	
<select id="searchExtWlJxlBlacklistDetailsByPaging" parameterType="java.util.Map" resultMap="ExtWlJxlBlacklistDetailsDTO">
    	 		select 
						t1.id                             ,
						t1.user_grid_id                   ,
						t1.details_key                    ,
						t1.details_value                  ,
						t1.create_time                    ,
						t1.create_by                      ,
						t1.modify_time                    ,
						t1.modify_by                      
					
				from ext_wl_jxl_blacklist_details 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.userGridId != null and dto.userGridId != ''">
						and t1.USER_GRID_ID =#{dto.userGridId}
    			</if>
    			<if test="dto.detailsKey != null and dto.detailsKey != ''">
						and t1.DETAILS_KEY =#{dto.detailsKey}
    			</if>
    			<if test="dto.detailsValue != null and dto.detailsValue != ''">
						and t1.DETAILS_VALUE =#{dto.detailsValue}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_JXL_BLACKLIST_DETAILS  -->
<select id="searchExtWlJxlBlacklistDetails" parameterType="java.util.Map" resultMap="ExtWlJxlBlacklistDetailsDTO">
    	     select 
						t1.id                             ,
						t1.user_grid_id                   ,
						t1.details_key                    ,
						t1.details_value                  ,
						t1.create_time                    ,
						t1.create_by                      ,
						t1.modify_time                    ,
						t1.modify_by                      
				from ext_wl_jxl_blacklist_details 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.userGridId != null and dto.userGridId != ''">
						and t1.USER_GRID_ID = #{dto.userGridId}
    			</if>
    			<if test="dto.detailsKey != null and dto.detailsKey != ''">
						and t1.DETAILS_KEY = #{dto.detailsKey}
    			</if>
    			<if test="dto.detailsValue != null and dto.detailsValue != ''">
						and t1.DETAILS_VALUE = #{dto.detailsValue}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_JXL_BLACKLIST_DETAILS -->
<select id="findExtWlJxlBlacklistDetailsByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlJxlBlacklistDetailsDTO">
   	 		select 
					t1.id                             ,
					t1.user_grid_id                   ,
					t1.details_key                    ,
					t1.details_value                  ,
					t1.create_time                    ,
					t1.create_by                      ,
					t1.modify_time                    ,
					t1.modify_by                      
			from ext_wl_jxl_blacklist_details 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_JXL_BLACKLIST_DETAILS -->
<insert id="insertExtWlJxlBlacklistDetails" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_JXL_BLACKLIST_DET.nextval as id from dual
	</selectKey>
			insert into ext_wl_jxl_blacklist_details
			(   		
					id                             ,
					user_grid_id                   ,
					details_key                    ,
					details_value                  ,
					create_time                    ,
					create_by                      ,
					modify_time                    ,
					modify_by                      
			)
			values(#{dto.id}
					,#{dto.userGridId,jdbcType=VARCHAR}
					,#{dto.detailsKey,jdbcType=VARCHAR}
					,#{dto.detailsValue,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,#{dto.modifyBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_JXL_BLACKLIST_DETAILS -->
<update id="updateExtWlJxlBlacklistDetails" parameterType="java.util.Map">
	     update ext_wl_jxl_blacklist_details t1
	           set 
			           t1.user_grid_id                   =#{dto.userGridId,jdbcType=VARCHAR},
			           t1.details_key                    =#{dto.detailsKey,jdbcType=VARCHAR},
			           t1.details_value                  =#{dto.detailsValue,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_JXL_BLACKLIST_DETAILS -->
<delete id="deleteExtWlJxlBlacklistDetailsByID" parameterType="java.util.Map">
    	delete from ext_wl_jxl_blacklist_details t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_JXL_BLACKLIST_DETAILS -->
<update id="deleteExtWlJxlBlacklistDetailsByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_jxl_blacklist_details t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>