<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidutax.dao.ExtWlBaiduTaxDao">
<resultMap id="ExtWlBaiduTaxDTO" type="com.jy.modules.externalplatform.interfacerepository.baidu.extwlbaidutax.dto.ExtWlBaiduTaxDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="keyId" column="KEY_ID" jdbcType="VARCHAR" />
				<result property="taxpayerName" column="TAXPAYER_NAME" jdbcType="VARCHAR" />
				<result property="taxpayerIdenNum" column="TAXPAYER_IDEN_NUM" jdbcType="VARCHAR" />
				<result property="infoSource" column="INFO_SOURCE" jdbcType="VARCHAR" />
				<result property="majorFact" column="MAJOR_FACT" jdbcType="VARCHAR" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 EXT_WL_BAIDU_TAX -->	
<select id="searchExtWlBaiduTaxByPaging" parameterType="java.util.Map" resultMap="ExtWlBaiduTaxDTO">
    	 		select 
						t1.id                             ,
						t1.key_id                         ,
						t1.taxpayer_name                  ,
						t1.taxpayer_iden_num              ,
						t1.info_source                    ,
						t1.major_fact                     ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
					
				from ext_wl_baidu_tax 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.keyId != null and dto.keyId != ''">
						and t1.KEY_ID =#{dto.keyId}
    			</if>
    			<if test="dto.taxpayerName != null and dto.taxpayerName != ''">
						and t1.TAXPAYER_NAME =#{dto.taxpayerName}
    			</if>
    			<if test="dto.taxpayerIdenNum != null and dto.taxpayerIdenNum != ''">
						and t1.TAXPAYER_IDEN_NUM =#{dto.taxpayerIdenNum}
    			</if>
    			<if test="dto.infoSource != null and dto.infoSource != ''">
						and t1.INFO_SOURCE =#{dto.infoSource}
    			</if>
    			<if test="dto.majorFact != null and dto.majorFact != ''">
						and t1.MAJOR_FACT =#{dto.majorFact}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_BAIDU_TAX  -->
<select id="searchExtWlBaiduTax" parameterType="java.util.Map" resultMap="ExtWlBaiduTaxDTO">
    	     select 
						t1.id                             ,
						t1.key_id                         ,
						t1.taxpayer_name                  ,
						t1.taxpayer_iden_num              ,
						t1.info_source                    ,
						t1.major_fact                     ,
						t1.create_by                      ,
						t1.create_time                    ,
						t1.modify_by                      ,
						t1.modify_time                    ,
						t1.validate_state                 
				from ext_wl_baidu_tax 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.keyId != null and dto.keyId != ''">
						and t1.KEY_ID = #{dto.keyId}
    			</if>
    			<if test="dto.taxpayerName != null and dto.taxpayerName != ''">
						and t1.TAXPAYER_NAME = #{dto.taxpayerName}
    			</if>
    			<if test="dto.taxpayerIdenNum != null and dto.taxpayerIdenNum != ''">
						and t1.TAXPAYER_IDEN_NUM = #{dto.taxpayerIdenNum}
    			</if>
    			<if test="dto.infoSource != null and dto.infoSource != ''">
						and t1.INFO_SOURCE = #{dto.infoSource}
    			</if>
    			<if test="dto.majorFact != null and dto.majorFact != ''">
						and t1.MAJOR_FACT = #{dto.majorFact}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_BAIDU_TAX -->
<select id="findExtWlBaiduTaxByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlBaiduTaxDTO">
   	 		select 
					t1.id                             ,
					t1.key_id                         ,
					t1.taxpayer_name                  ,
					t1.taxpayer_iden_num              ,
					t1.info_source                    ,
					t1.major_fact                     ,
					t1.create_by                      ,
					t1.create_time                    ,
					t1.modify_by                      ,
					t1.modify_time                    ,
					t1.validate_state                 
			from ext_wl_baidu_tax 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_BAIDU_TAX -->
<insert id="insertExtWlBaiduTax" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_BAIDU_TAX.nextval as id from dual
	</selectKey>
			insert into ext_wl_baidu_tax
			(   		
					id                             ,
					key_id                         ,
					taxpayer_name                  ,
					taxpayer_iden_num              ,
					info_source                    ,
					major_fact                     ,
					create_by                      ,
					create_time                    ,
					modify_by                      ,
					modify_time                    ,
					validate_state                 
			)
			values(#{dto.id}
					,#{dto.keyId,jdbcType=VARCHAR}
					,#{dto.taxpayerName,jdbcType=VARCHAR}
					,#{dto.taxpayerIdenNum,jdbcType=VARCHAR}
					,#{dto.infoSource,jdbcType=VARCHAR}
					,#{dto.majorFact,jdbcType=VARCHAR}
					,#{dto.createBy,jdbcType=DECIMAL}
					,systimestamp
					,#{dto.modifyBy,jdbcType=DECIMAL}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,'1'
			)
</insert>
    
<!-- 更新对象 EXT_WL_BAIDU_TAX -->
<update id="updateExtWlBaiduTax" parameterType="java.util.Map">
	     update ext_wl_baidu_tax t1
	           set 
			           t1.key_id                         =#{dto.keyId,jdbcType=VARCHAR},
			           t1.taxpayer_name                  =#{dto.taxpayerName,jdbcType=VARCHAR},
			           t1.taxpayer_iden_num              =#{dto.taxpayerIdenNum,jdbcType=VARCHAR},
			           t1.info_source                    =#{dto.infoSource,jdbcType=VARCHAR},
			           t1.major_fact                     =#{dto.majorFact,jdbcType=VARCHAR},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.validate_state                 ='1'
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_BAIDU_TAX -->
<delete id="deleteExtWlBaiduTaxByID" parameterType="java.util.Map">
    	delete from ext_wl_baidu_tax t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_BAIDU_TAX -->
<update id="deleteExtWlBaiduTaxByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_baidu_tax t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

	<!-- 批量保存数据-->
	<insert id="insertBatchTax" parameterType="java.util.Map">
		declare
		detId number:=0;
		begin

		detId:=0;
		<foreach collection="taxList" item="dto" index="index" >
			select seq_EXT_WL_BAIDU_TAX.nextval into detId from dual;
			insert into ext_wl_baidu_tax
			(
			id                             ,
			key_id                         ,
			taxpayer_name                  ,
			taxpayer_iden_num              ,
			info_source                    ,
			major_fact                     ,
			create_by                      ,
			create_time                    ,
			validate_state
			)
			select detId
			,#{dto.keyId,jdbcType=VARCHAR}
			,#{dto.taxpayerName,jdbcType=VARCHAR}
			,#{dto.taxpayerIdenNum,jdbcType=VARCHAR}
			,#{dto.infoSource,jdbcType=VARCHAR}
			,#{dto.majorFact,jdbcType=VARCHAR}
			,#{dto.createBy,jdbcType=DECIMAL}
			,systimestamp
			,'1'
			from dual           ;
		</foreach>
		end ;
	</insert>
</mapper>