<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.sh.extwlshareoverdues.dao.ExtWlShareOverduesDao">
<resultMap id="ExtWlShareOverduesDTO" type="com.jy.modules.externalplatform.interfacerepository.sh.extwlshareoverdues.dto.ExtWlShareOverduesDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="nowOverdueTimes" column="NOW_OVERDUE_TIMES" jdbcType="DECIMAL" />
				<result property="nowOverdueAmount" column="NOW_OVERDUE_AMOUNT" jdbcType="DECIMAL" />
				<result property="billingDate" column="BILLING_DATE" jdbcType="VARCHAR" />
				<result property="startStatisDate" column="START_STATIS_DATE" jdbcType="VARCHAR" />
				<result property="endStatisDate" column="END_STATIS_DATE" jdbcType="VARCHAR" />
				<result property="fkCreditDetailId" column="FK_CREDIT_DETAIL_ID" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
</resultMap>
				
<!-- 分页查询 EXT_WL_SHARE_OVERDUES -->	
<select id="searchExtWlShareOverduesByPaging" parameterType="java.util.Map" resultMap="ExtWlShareOverduesDTO">
    	 		select 
						t1.id                             ,
						t1.now_overdue_times              ,
						t1.now_overdue_amount             ,
						t1.billing_date                   ,
						t1.start_statis_date              ,
						t1.end_statis_date                ,
						t1.fk_credit_detail_id            ,
						t1.create_time                    ,
						t1.modify_time                    
					
				from ext_wl_share_overdues 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.nowOverdueTimes != null and dto.nowOverdueTimes != ''">
						and t1.NOW_OVERDUE_TIMES =#{dto.nowOverdueTimes}
    			</if>
    			<if test="dto.nowOverdueAmount != null and dto.nowOverdueAmount != ''">
						and t1.NOW_OVERDUE_AMOUNT =#{dto.nowOverdueAmount}
    			</if>
    			<if test="dto.billingDate != null and dto.billingDate != ''">
						and t1.BILLING_DATE =#{dto.billingDate}
    			</if>
    			<if test="dto.startStatisDate != null and dto.startStatisDate != ''">
						and t1.START_STATIS_DATE =#{dto.startStatisDate}
    			</if>
    			<if test="dto.endStatisDate != null and dto.endStatisDate != ''">
						and t1.END_STATIS_DATE =#{dto.endStatisDate}
    			</if>
    			<if test="dto.fkCreditDetailId != null and dto.fkCreditDetailId != ''">
						and t1.FK_CREDIT_DETAIL_ID =#{dto.fkCreditDetailId}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_SHARE_OVERDUES  -->
<select id="searchExtWlShareOverdues" parameterType="java.util.Map" resultMap="ExtWlShareOverduesDTO">
    	     select 
						t1.id                             ,
						t1.now_overdue_times              ,
						t1.now_overdue_amount             ,
						t1.billing_date                   ,
						t1.start_statis_date              ,
						t1.end_statis_date                ,
						t1.fk_credit_detail_id            ,
						t1.create_time                    ,
						t1.modify_time                    
				from ext_wl_share_overdues 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.nowOverdueTimes != null and dto.nowOverdueTimes != ''">
						and t1.NOW_OVERDUE_TIMES = #{dto.nowOverdueTimes}
    			</if>
    			<if test="dto.nowOverdueAmount != null and dto.nowOverdueAmount != ''">
						and t1.NOW_OVERDUE_AMOUNT = #{dto.nowOverdueAmount}
    			</if>
    			<if test="dto.billingDate != null and dto.billingDate != ''">
						and t1.BILLING_DATE = #{dto.billingDate}
    			</if>
    			<if test="dto.startStatisDate != null and dto.startStatisDate != ''">
						and t1.START_STATIS_DATE = #{dto.startStatisDate}
    			</if>
    			<if test="dto.endStatisDate != null and dto.endStatisDate != ''">
						and t1.END_STATIS_DATE = #{dto.endStatisDate}
    			</if>
    			<if test="dto.fkCreditDetailId != null and dto.fkCreditDetailId != ''">
						and t1.FK_CREDIT_DETAIL_ID = #{dto.fkCreditDetailId}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_SHARE_OVERDUES -->
<select id="findExtWlShareOverduesByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlShareOverduesDTO">
   	 		select 
					t1.id                             ,
					t1.now_overdue_times              ,
					t1.now_overdue_amount             ,
					t1.billing_date                   ,
					t1.start_statis_date              ,
					t1.end_statis_date                ,
					t1.fk_credit_detail_id            ,
					t1.create_time                    ,
					t1.modify_time                    
			from ext_wl_share_overdues 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_SHARE_OVERDUES -->
<insert id="insertExtWlShareOverdues" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_SHARE_OVERDUES.nextval as id from dual
	</selectKey>
			insert into ext_wl_share_overdues
			(   		
					id                             ,
					now_overdue_times              ,
					now_overdue_amount             ,
					billing_date                   ,
					start_statis_date              ,
					end_statis_date                ,
					fk_credit_detail_id            ,
					create_time                    ,
					modify_time                    
			)
			values(#{dto.id}
					,#{dto.nowOverdueTimes,jdbcType=DECIMAL}
					,#{dto.nowOverdueAmount,jdbcType=DECIMAL}
					,#{dto.billingDate,jdbcType=VARCHAR}
					,#{dto.startStatisDate,jdbcType=VARCHAR}
					,#{dto.endStatisDate,jdbcType=VARCHAR}
					,#{dto.fkCreditDetailId,jdbcType=DECIMAL}
					,#{dto.createTime,jdbcType=TIMESTAMP}
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
			)
</insert>
    
<!-- 更新对象 EXT_WL_SHARE_OVERDUES -->
<update id="updateExtWlShareOverdues" parameterType="java.util.Map">
	     update ext_wl_share_overdues t1
	           set 
			           t1.now_overdue_times              =#{dto.nowOverdueTimes,jdbcType=DECIMAL},
			           t1.now_overdue_amount             =#{dto.nowOverdueAmount,jdbcType=DECIMAL},
			           t1.billing_date                   =#{dto.billingDate,jdbcType=VARCHAR},
			           t1.start_statis_date              =#{dto.startStatisDate,jdbcType=VARCHAR},
			           t1.end_statis_date                =#{dto.endStatisDate,jdbcType=VARCHAR},
			           t1.fk_credit_detail_id            =#{dto.fkCreditDetailId,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_SHARE_OVERDUES -->
<delete id="deleteExtWlShareOverduesByID" parameterType="java.util.Map">
    	delete from ext_wl_share_overdues t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_SHARE_OVERDUES -->
<update id="deleteExtWlShareOverduesByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_share_overdues t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>

<insert id="insertExtWlShareOverduesList" parameterType="java.util.Map">
begin
    <foreach collection="dtoList" item="dto" >
    	insert into ext_wl_share_overdues
			(   		
					id                             ,
					now_overdue_times              ,
					now_overdue_amount             ,
					billing_date                   ,
					start_statis_date              ,
					end_statis_date                ,
					fk_credit_detail_id            ,
					create_time                    ,
					modify_time                    
			)
			values(seq_EXT_WL_SHARE_OVERDUES.nextval
					,#{dto.nowOverdueTimes,jdbcType=DECIMAL}
					,#{dto.nowOverdueAmount,jdbcType=DECIMAL}
					,#{dto.billingDate,jdbcType=VARCHAR}
					,#{startStatisDate}
					,#{endStatisDate}
					,#{fkCreditDetailId}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
			);
    </foreach>
  end;
</insert>

    
    
</mapper>