body {
	COLOR:#333333;
	font-size:12px;
	font-family:Verdana,Arial,Helvetica,ו;
	margin:0 auto;
	scrollbar-face-color: #F0F8FF; 
	scrollbar-shadow-color: #B0C4DE;  
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #B0C4DE; 
	scrollbar-darkshadow-color: #96AABD; 
	scrollbar-track-color: #B0C4DE; 
	scrollbar-arrow-color: #4682B4;
}

td {
	COLOR:#333333; 
	font-size:12px;
}

th {
	COLOR:#333333;
}

.body_bg_grey1{
	background-color: white;
		
}
.body_bg_grey2{
	background-color: white;
}
.body_bg_grey3{
	background-color: white;
}
.body_bg_white{
	background-color: white;
}


A.redlink:link {
	color:red;
	text-decoration: none;
}
A.redlink:visited {
	color:red;
	text-decoration: none;
}
A.redlink:active {
	color:red;
	text-decoration: none;
}
A.redlink:hover {
	color:red;
	text-decoration:underline;
}

A:link {
    COLOR:#0088ff;
	text-decoration:underline;
}
A:visited {
 	COLOR:#0022ff;
	text-decoration: none;
}
A:active {
	COLOR:#0088ff;
	text-decoration: none;
}
A:hover {
	COLOR:#0088ff;
	text-decoration:underline;
}


A.tab_white:link {
    COLOR:#0088ff;
	text-decoration: none;
}
A.tab_white:visited {
 	COLOR:#0022ff;
	text-decoration: none;
}
A.tab_white:active {
	COLOR:#0088ff;
	text-decoration: none;
}
A.tab_white:hover {
	COLOR:#0088ff;
	text-decoration:underline;
}

.Textfield{
	background-color: white;
	color:#333;
	text-align:left;
	border: 1px solid #B9E2DC;
}


.Textfield-READONLY{
	background-color:#ccc;
	color:#000;
	text-align:left;
	border: 1px solid #483D8B;
}

.Radiobutton{
	color:#333;
}

.Checkbox{
    color:#333;
}

.Select{
	background-color:white;
	color:#333333;
	text-align:left;
	border: 1px solid #B9E2DC;
}

.Select-Multiple{
	background-color:white;
	color:#333333;
	text-align:left;
	border: 1px solid #B9E2DC;
}


.TEXTAREA{
	background-color:white;
	color:#333333;
	text-align:left;
    border: 1px solid #B9E2DC;
    overflow:auto    
}

.Button{
   	background-image: url( "../images/Skin/Skin_01/Button_BG.gif" );
    color:#333333;
	height: 20px;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}

.SelectButtonOn{
   	background-image: url( "../images/Skin/Skin_07/bg_blue1.gif" );
    color:#333333;
	height: 20px;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.SelectButtonOff{
   	background-image: url( "../images/Skin/Skin_07/bg_blue2.gif" );
    color:#333333;
	height: 20px;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.Button1{
   	background: url( "../images/Skin/Skin_07/tab_on.gif" ) no-repeat;
    color:#333333;
	width:103px;
	height: 20px;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.Button2{
   	background: url( "../images/Skin/Skin_07/tab_off.gif" ) no-repeat;
    color:#333333;
	width:103px;
	height: 20px;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.Button3{
   	background: url( "../images/Skin/Skin_07/tab_153_on.gif" ) no-repeat;
	width:153px;
	height: 20px;
    color:#333333;

	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.Button4{
   	background: url( "../images/Skin/Skin_07/tab_153_off.gif" ) no-repeat;
	width:153px;
	height: 20px;
    color:#333333;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}

.Button5{
   	background-image: url( "../images/Skin/Skin_01/Button_BG.gif" );
   	width:153px;
	height: 20px;
    color:#333333;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}

.Button_Search{
    background: url( "../images/Skin/Skin_01/Button_Search1.gif" ) no-repeat;
    color:#333333;
	width:46px;    
    height: 20px;
    color:#333333;
	padding:0;
	text-decoration: none;
	border:1px solid #003C73;
}

.Button_Download{
    background: url( "../images/Skin/Skin_01/Button_Download1.gif" ) no-repeat;
  	color:#333;
	width:46px;
    height: 20px;
    color:#333333;
	padding:0;
	text-decoration: none;
	border:1px solid #003C73;
}


.Button_Time{
    background: #f7f7f7url( "../images/Skin/Skin_01/clock2.gif" )  no-repeat; 
	height: 18px;
	width:18px;	
    padding-top: 0px !important;padding-top: 9px;
    padding-left: 10px;
    padding-right: 2px;    
    color:#ffffff;
    font-weight: normal;
	text-decoration: none;
	border:none;
}


.dtPanel_Title {
	COLOR:#666666;
	FONT-SIZE:10pt;
	font-weight: bold;
	line-height: 25px;
}

.dtPanel_Top01 {
	background-color:#BEE6E0;
	COLOR:#666666;
	FONT-SIZE:9pt;
	font-weight: bold;
	line-height: 25px;
}

.dtPanel_Top02 {
	background-color:#FFFBFF;
	COLOR:#666666;
}

.dtPanel_Left {
	background-color:#F7F7F7;
	COLOR:#333333;
}

.dtPanel_Left_v {
	background-color:#F7F7F7;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:ו,verdana,Arial, Helvetica;
}

.dtPanel_Main {
	background-color:#F7F7F7;
	COLOR:#333333;
	height:23px;
}
.dtPanel_Main1 {
	background-color:pink;
    font-weight: bold;
	height:23px;
}

.dtPanel_Main2 {
	background-color:#F7F7F7;
	COLOR:#333333;
	height:23px;
}

.selectTr {
	height:23px;
}



.dtPanel_Bottom {
	background-color:#75E7D6;
	height:25px;
	COLOR:#FFFFFF;	
}

.dtPanel_Line {
	background-color:#099580;
}

.dtPanel_Line1 {
	background-color:#75E7D6;
}

.dtPanel_Line2 {
	background-color:#75E7D6;
}

.dtPanel_Line3 {
	background-color:#75E7D6;
}


.dtPanel_Pager {
	background-color:#E7EBEF;
	height:25;
}


.heightspace_top1{
	height:5;
	
}

.heightspace_top2{
	height:3;
	
}

.heightspace_top3{
	height:5;
}	

.heightspace_bottom1{	
}

.heightspace_bottom2{
	
}


.IdxFrame_Top_Frame{
		background-color:#EFF3F7;
}

.IdxFrame_Top_Main{
	COLOR:#FFFFFF;
	background-image:url(../images/Skin/Skin_01/IdxFrame_BG.gif);
}

.IdxFrame_Bar{
	background-color:#EFF3F7;
	COLOR:#FFFFFF;
}

.DTreeBG{
  background-color: #E7EBEF;
}

.WhiteFont {
	color: #FFFFFF;
}

.GrayFont {
	color: #666666;
}

.BlackFont {

}

.BlueFont {

}
.background_c1{
	background-color: #FFFBFF;
	
}

.passFont {	
	color:#000000;
	text-decoration:none;
}
.passTextfield{
	background-color: #FFFFFF;
	color:#333333;
	text-decoration:none;
	text-align:left;
	border: 1px solid #6396D6;
}
.passButton{
   	background: url( "../images/Skin/Skin_07/tab_on.gif" ) no-repeat;
    width:103px;
    height: 20px;
    color:#333333;
	padding: 3px 5px 0 5px;
	text-decoration: none;
	border:1px solid #003C73;
}
.div-1{
	position:absolute;
	bottom:10px;
	left:0px;
	width:100%;
}
.mouseOut{
	background: #708090;
	color: #333333;
}
.mouseOver{
	background: #fffafa;
	color: #000000;
}
