<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.bqs.extwlbqsruledetails.dao.ExtWlBqsRuleDetailsDao">
<resultMap id="ExtWlBqsRuleDetailsDTO" type="com.jy.modules.externalplatform.interfacerepository.bqs.extwlbqsruledetails.dto.ExtWlBqsRuleDetailsDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="ruleContentId" column="RULE_CONTENT_ID" jdbcType="DECIMAL" />
				<result property="firstType" column="FIRST_TYPE" jdbcType="VARCHAR" />
				<result property="grade" column="GRADE" jdbcType="VARCHAR" />
				<result property="secondType" column="SECOND_TYPE" jdbcType="VARCHAR" />
				<result property="name" column="NAME" jdbcType="VARCHAR" />
				<result property="type" column="TYPE" jdbcType="VARCHAR" />
				<result property="value" column="VALUE" jdbcType="VARCHAR" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="updateBy" column="UPDATE_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_BQS_RULE_DETAILS -->	
<select id="searchExtWlBqsRuleDetailsByPaging" parameterType="java.util.Map" resultMap="ExtWlBqsRuleDetailsDTO">
    	 		select 
						t1.id                             ,
						t1.rule_content_id                ,
						t1.first_type                     ,
						t1.grade                          ,
						t1.second_type                    ,
						t1.name                           ,
						t1.type                           ,
						t1.value                          ,
						t1.validate_state                 ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
					
				from ext_wl_bqs_rule_details 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.ruleContentId != null and dto.ruleContentId != ''">
						and t1.RULE_CONTENT_ID =#{dto.ruleContentId}
    			</if>
    			<if test="dto.firstType != null and dto.firstType != ''">
						and t1.FIRST_TYPE =#{dto.firstType}
    			</if>
    			<if test="dto.grade != null and dto.grade != ''">
						and t1.GRADE =#{dto.grade}
    			</if>
    			<if test="dto.secondType != null and dto.secondType != ''">
						and t1.SECOND_TYPE =#{dto.secondType}
    			</if>
    			<if test="dto.name != null and dto.name != ''">
						and t1.NAME =#{dto.name}
    			</if>
    			<if test="dto.type != null and dto.type != ''">
						and t1.TYPE =#{dto.type}
    			</if>
    			<if test="dto.value != null and dto.value != ''">
						and t1.VALUE =#{dto.value}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY =#{dto.updateBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_BQS_RULE_DETAILS  -->
<select id="searchExtWlBqsRuleDetails" parameterType="java.util.Map" resultMap="ExtWlBqsRuleDetailsDTO">
    	     select 
						t1.id                             ,
						t1.rule_content_id                ,
						t1.first_type                     ,
						t1.grade                          ,
						t1.second_type                    ,
						t1.name                           ,
						t1.type                           ,
						t1.value                          ,
						t1.validate_state                 ,
						t1.create_time                    ,
						t1.update_time                    ,
						t1.create_by                      ,
						t1.update_by                      
				from ext_wl_bqs_rule_details 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.ruleContentId != null and dto.ruleContentId != ''">
						and t1.RULE_CONTENT_ID = #{dto.ruleContentId}
    			</if>
    			<if test="dto.firstType != null and dto.firstType != ''">
						and t1.FIRST_TYPE = #{dto.firstType}
    			</if>
    			<if test="dto.grade != null and dto.grade != ''">
						and t1.GRADE = #{dto.grade}
    			</if>
    			<if test="dto.secondType != null and dto.secondType != ''">
						and t1.SECOND_TYPE = #{dto.secondType}
    			</if>
    			<if test="dto.name != null and dto.name != ''">
						and t1.NAME = #{dto.name}
    			</if>
    			<if test="dto.type != null and dto.type != ''">
						and t1.TYPE = #{dto.type}
    			</if>
    			<if test="dto.value != null and dto.value != ''">
						and t1.VALUE = #{dto.value}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.updateBy != null and dto.updateBy != ''">
						and t1.UPDATE_BY = #{dto.updateBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_BQS_RULE_DETAILS -->
<select id="findExtWlBqsRuleDetailsByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlBqsRuleDetailsDTO">
   	 		select 
					t1.id                             ,
					t1.rule_content_id                ,
					t1.first_type                     ,
					t1.grade                          ,
					t1.second_type                    ,
					t1.name                           ,
					t1.type                           ,
					t1.value                          ,
					t1.validate_state                 ,
					t1.create_time                    ,
					t1.update_time                    ,
					t1.create_by                      ,
					t1.update_by                      
			from ext_wl_bqs_rule_details 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_BQS_RULE_DETAILS -->
<insert id="insertExtWlBqsRuleDetails" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_BQS_RULE_DETAILS.nextval as id from dual
	</selectKey>
			insert into ext_wl_bqs_rule_details
			(   		
					id                             ,
					rule_content_id                ,
					first_type                     ,
					grade                          ,
					second_type                    ,
					name                           ,
					type                           ,
					value                          ,
					validate_state                 ,
					create_time                    ,
					update_time                    ,
					create_by                      ,
					update_by                      
			)
			values(#{dto.id}
					,#{dto.ruleContentId,jdbcType=DECIMAL}
					,#{dto.firstType,jdbcType=VARCHAR}
					,#{dto.grade,jdbcType=VARCHAR}
					,#{dto.secondType,jdbcType=VARCHAR}
					,#{dto.name,jdbcType=VARCHAR}
					,#{dto.type,jdbcType=VARCHAR}
					,#{dto.value,jdbcType=VARCHAR}
					,'1'
					,systimestamp
					,#{dto.updateTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.updateBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_BQS_RULE_DETAILS -->
<update id="updateExtWlBqsRuleDetails" parameterType="java.util.Map">
	     update ext_wl_bqs_rule_details t1
	           set 
			           t1.rule_content_id                =#{dto.ruleContentId,jdbcType=DECIMAL},
			           t1.first_type                     =#{dto.firstType,jdbcType=VARCHAR},
			           t1.grade                          =#{dto.grade,jdbcType=VARCHAR},
			           t1.second_type                    =#{dto.secondType,jdbcType=VARCHAR},
			           t1.name                           =#{dto.name,jdbcType=VARCHAR},
			           t1.type                           =#{dto.type,jdbcType=VARCHAR},
			           t1.value                          =#{dto.value,jdbcType=VARCHAR},
			           t1.validate_state                 ='1',
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.update_by                      =#{dto.updateBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_BQS_RULE_DETAILS -->
<delete id="deleteExtWlBqsRuleDetailsByID" parameterType="java.util.Map">
    	delete from ext_wl_bqs_rule_details t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_BQS_RULE_DETAILS -->
<update id="deleteExtWlBqsRuleDetailsByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_bqs_rule_details t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>