<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.xy.extwlxyoverdue.dao.ExtWlXyOverdueDao">
<resultMap id="ExtWlXyOverdueDTO" type="com.jy.modules.externalplatform.interfacerepository.xy.extwlxyoverdue.dto.ExtWlXyOverdueDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="intoCustRefId" column="INTO_CUST_REF_ID" jdbcType="DECIMAL" />
				<result property="code" column="CODE" jdbcType="VARCHAR" />
				<result property="retDesc" column="RET_DESC" jdbcType="VARCHAR" />
				<result property="transId" column="TRANS_ID" jdbcType="VARCHAR" />
				<result property="tradeNo" column="TRADE_NO" jdbcType="VARCHAR" />
				<result property="fee" column="FEE" jdbcType="VARCHAR" />
				<result property="idNo" column="ID_NO" jdbcType="VARCHAR" />
				<result property="idName" column="ID_NAME" jdbcType="VARCHAR" />
				<result property="memberCount" column="MEMBER_COUNT" jdbcType="VARCHAR" />
				<result property="orderCount" column="ORDER_COUNT" jdbcType="VARCHAR" />
				<result property="debtAmount" column="DEBT_AMOUNT" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="modifyBy" column="MODIFY_BY" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 EXT_WL_XY_OVERDUE -->	
<select id="searchExtWlXyOverdueByPaging" parameterType="java.util.Map" resultMap="ExtWlXyOverdueDTO">
    	 		select 
						t1.id                             ,
						t1.into_cust_ref_id               ,
						t1.code                           ,
						t1.ret_desc                       ,
						t1.trans_id                       ,
						t1.trade_no                       ,
						t1.fee                            ,
						t1.id_no                          ,
						t1.id_name                        ,
						t1.member_count                   ,
						t1.order_count                    ,
						t1.debt_amount                    ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.create_by                      ,
						t1.modify_by                      
					
				from ext_wl_xy_overdue 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.intoCustRefId != null and dto.intoCustRefId != ''">
						and t1.INTO_CUST_REF_ID =#{dto.intoCustRefId}
    			</if>
    			<if test="dto.code != null and dto.code != ''">
						and t1.CODE =#{dto.code}
    			</if>
    			<if test="dto.retDesc != null and dto.retDesc != ''">
						and t1.RET_DESC =#{dto.retDesc}
    			</if>
    			<if test="dto.transId != null and dto.transId != ''">
						and t1.TRANS_ID =#{dto.transId}
    			</if>
    			<if test="dto.tradeNo != null and dto.tradeNo != ''">
						and t1.TRADE_NO =#{dto.tradeNo}
    			</if>
    			<if test="dto.fee != null and dto.fee != ''">
						and t1.FEE =#{dto.fee}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO =#{dto.idNo}
    			</if>
    			<if test="dto.idName != null and dto.idName != ''">
						and t1.ID_NAME =#{dto.idName}
    			</if>
    			<if test="dto.memberCount != null and dto.memberCount != ''">
						and t1.MEMBER_COUNT =#{dto.memberCount}
    			</if>
    			<if test="dto.orderCount != null and dto.orderCount != ''">
						and t1.ORDER_COUNT =#{dto.orderCount}
    			</if>
    			<if test="dto.debtAmount != null and dto.debtAmount != ''">
						and t1.DEBT_AMOUNT =#{dto.debtAmount}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY =#{dto.modifyBy}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_WL_XY_OVERDUE  -->
<select id="searchExtWlXyOverdue" parameterType="java.util.Map" resultMap="ExtWlXyOverdueDTO">
    	     select 
						t1.id                             ,
						t1.into_cust_ref_id               ,
						t1.code                           ,
						t1.ret_desc                       ,
						t1.trans_id                       ,
						t1.trade_no                       ,
						t1.fee                            ,
						t1.id_no                          ,
						t1.id_name                        ,
						t1.member_count                   ,
						t1.order_count                    ,
						t1.debt_amount                    ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.create_by                      ,
						t1.modify_by                      
				from ext_wl_xy_overdue 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.intoCustRefId != null and dto.intoCustRefId != ''">
						and t1.INTO_CUST_REF_ID = #{dto.intoCustRefId}
    			</if>
    			<if test="dto.code != null and dto.code != ''">
						and t1.CODE = #{dto.code}
    			</if>
    			<if test="dto.retDesc != null and dto.retDesc != ''">
						and t1.RET_DESC = #{dto.retDesc}
    			</if>
    			<if test="dto.transId != null and dto.transId != ''">
						and t1.TRANS_ID = #{dto.transId}
    			</if>
    			<if test="dto.tradeNo != null and dto.tradeNo != ''">
						and t1.TRADE_NO = #{dto.tradeNo}
    			</if>
    			<if test="dto.fee != null and dto.fee != ''">
						and t1.FEE = #{dto.fee}
    			</if>
    			<if test="dto.idNo != null and dto.idNo != ''">
						and t1.ID_NO = #{dto.idNo}
    			</if>
    			<if test="dto.idName != null and dto.idName != ''">
						and t1.ID_NAME = #{dto.idName}
    			</if>
    			<if test="dto.memberCount != null and dto.memberCount != ''">
						and t1.MEMBER_COUNT = #{dto.memberCount}
    			</if>
    			<if test="dto.orderCount != null and dto.orderCount != ''">
						and t1.ORDER_COUNT = #{dto.orderCount}
    			</if>
    			<if test="dto.debtAmount != null and dto.debtAmount != ''">
						and t1.DEBT_AMOUNT = #{dto.debtAmount}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.modifyBy != null and dto.modifyBy != ''">
						and t1.MODIFY_BY = #{dto.modifyBy}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_WL_XY_OVERDUE -->
<select id="findExtWlXyOverdueByPrimaryKey" parameterType="java.util.Map" resultMap="ExtWlXyOverdueDTO">
   	 		select 
					t1.id                             ,
					t1.into_cust_ref_id               ,
					t1.code                           ,
					t1.ret_desc                       ,
					t1.trans_id                       ,
					t1.trade_no                       ,
					t1.fee                            ,
					t1.id_no                          ,
					t1.id_name                        ,
					t1.member_count                   ,
					t1.order_count                    ,
					t1.debt_amount                    ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.create_by                      ,
					t1.modify_by                      
			from ext_wl_xy_overdue 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_WL_XY_OVERDUE -->
<insert id="insertExtWlXyOverdue" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_WL_XY_OVERDUE.nextval as id from dual
	</selectKey>
			insert into ext_wl_xy_overdue
			(   		
					id                             ,
					into_cust_ref_id               ,
					code                           ,
					ret_desc                       ,
					trans_id                       ,
					trade_no                       ,
					fee                            ,
					id_no                          ,
					id_name                        ,
					member_count                   ,
					order_count                    ,
					debt_amount                    ,
					create_time                    ,
					modify_time                    ,
					create_by                      ,
					modify_by                      
			)
			values(#{dto.id}
					,#{dto.intoCustRefId,jdbcType=DECIMAL}
					,#{dto.code,jdbcType=VARCHAR}
					,#{dto.retDesc,jdbcType=VARCHAR}
					,#{dto.transId,jdbcType=VARCHAR}
					,#{dto.tradeNo,jdbcType=VARCHAR}
					,#{dto.fee,jdbcType=VARCHAR}
					,#{dto.idNo,jdbcType=VARCHAR}
					,#{dto.idName,jdbcType=VARCHAR}
					,#{dto.memberCount,jdbcType=VARCHAR}
					,#{dto.orderCount,jdbcType=VARCHAR}
					,#{dto.debtAmount,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.modifyTime,jdbcType=TIMESTAMP}
					,#{dto.createBy,jdbcType=DECIMAL}
					,#{dto.modifyBy,jdbcType=DECIMAL}
			)
</insert>
    
<!-- 更新对象 EXT_WL_XY_OVERDUE -->
<update id="updateExtWlXyOverdue" parameterType="java.util.Map">
	     update ext_wl_xy_overdue t1
	           set 
			           t1.into_cust_ref_id               =#{dto.intoCustRefId,jdbcType=DECIMAL},
			           t1.code                           =#{dto.code,jdbcType=VARCHAR},
			           t1.ret_desc                       =#{dto.retDesc,jdbcType=VARCHAR},
			           t1.trans_id                       =#{dto.transId,jdbcType=VARCHAR},
			           t1.trade_no                       =#{dto.tradeNo,jdbcType=VARCHAR},
			           t1.fee                            =#{dto.fee,jdbcType=VARCHAR},
			           t1.id_no                          =#{dto.idNo,jdbcType=VARCHAR},
			           t1.id_name                        =#{dto.idName,jdbcType=VARCHAR},
			           t1.member_count                   =#{dto.memberCount,jdbcType=VARCHAR},
			           t1.order_count                    =#{dto.orderCount,jdbcType=VARCHAR},
			           t1.debt_amount                    =#{dto.debtAmount,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.modify_by                      =#{dto.modifyBy,jdbcType=DECIMAL}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_WL_XY_OVERDUE -->
<delete id="deleteExtWlXyOverdueByID" parameterType="java.util.Map">
    	delete from ext_wl_xy_overdue t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_WL_XY_OVERDUE -->
<update id="deleteExtWlXyOverdueByPrimaryKey" parameterType="java.util.Map">
	     update ext_wl_xy_overdue t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>