<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jy.modules.externalplatform.interfacerepository.suanhua.extshperreportstock.dao.ExtShPerReportStockDao">
<resultMap id="ExtShPerReportStockDTO" type="com.jy.modules.externalplatform.interfacerepository.suanhua.extshperreportstock.dto.ExtShPerReportStockDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="reportNumber" column="REPORT_NUMBER" jdbcType="VARCHAR" />
				<result property="reportTime" column="REPORT_TIME" jdbcType="VARCHAR" />
				<result property="queryTime" column="QUERY_TIME" jdbcType="VARCHAR" />
				<result property="name" column="NAME" jdbcType="VARCHAR" />
				<result property="certificatesType" column="CERTIFICATES_TYPE" jdbcType="VARCHAR" />
				<result property="certificatesNumber" column="CERTIFICATES_NUMBER" jdbcType="VARCHAR" />
				<result property="marital" column="MARITAL" jdbcType="VARCHAR" />
				<result property="pushMessage" column="PUSH_MESSAGE" jdbcType="VARCHAR" />
				<result property="overduesMsg" column="OVERDUES_MSG" jdbcType="VARCHAR" />
				<result property="debtsMsg" column="DEBTS_MSG" jdbcType="VARCHAR" />
				<result property="loanBalancesMsg" column="LOAN_BALANCES_MSG" jdbcType="VARCHAR" />
				<result property="creditLoanMsg" column="CREDIT_LOAN_MSG" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="prodCode" column="PROD_CODE" jdbcType="VARCHAR" />
				<result property="orgCode" column="ORG_CODE" jdbcType="VARCHAR" />
				<result property="sysCode" column="SYS_CODE" jdbcType="VARCHAR" />
				<result property="retcode" column="RETCODE" jdbcType="VARCHAR" />
				<result property="errormsg" column="ERRORMSG" jdbcType="VARCHAR" />
				<result property="interfaceId" column="INTERFACE_ID" jdbcType="VARCHAR" />
				<result property="remark" column="REMARK" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 EXT_SH_PER_REPORT_STOCK -->	
<select id="searchExtShPerReportStockByPaging" parameterType="java.util.Map" resultMap="ExtShPerReportStockDTO">
    	 		select 
						t1.id                             ,
						t1.report_number                  ,
						t1.report_time                    ,
						t1.query_time                     ,
						t1.name                           ,
						t1.certificates_type              ,
						t1.certificates_number            ,
						t1.marital                        ,
						t1.push_message                   ,
						t1.overdues_msg                   ,
						t1.debts_msg                      ,
						t1.loan_balances_msg              ,
						t1.credit_loan_msg                ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.prod_code                      ,
						t1.org_code                       ,
						t1.sys_code                       ,
						t1.retcode                        ,
						t1.errormsg                       ,
						t1.interface_id                   ,
						t1.remark                         
					
				from ext_sh_per_report_stock 	t1
				where 1=1
				and t1.validate_state='1'
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.reportNumber != null and dto.reportNumber != ''">
						and t1.REPORT_NUMBER =#{dto.reportNumber}
    			</if>
    			<if test="dto.reportTime != null and dto.reportTime != ''">
						and t1.REPORT_TIME =#{dto.reportTime}
    			</if>
    			<if test="dto.queryTime != null and dto.queryTime != ''">
						and t1.QUERY_TIME =#{dto.queryTime}
    			</if>
    			<if test="dto.name != null and dto.name != ''">
						and t1.NAME =#{dto.name}
    			</if>
    			<if test="dto.certificatesType != null and dto.certificatesType != ''">
						and t1.CERTIFICATES_TYPE =#{dto.certificatesType}
    			</if>
    			<if test="dto.certificatesNumber != null and dto.certificatesNumber != ''">
						and t1.CERTIFICATES_NUMBER =#{dto.certificatesNumber}
    			</if>
    			<if test="dto.marital != null and dto.marital != ''">
						and t1.MARITAL =#{dto.marital}
    			</if>
    			<if test="dto.pushMessage != null and dto.pushMessage != ''">
						and t1.PUSH_MESSAGE =#{dto.pushMessage}
    			</if>
    			<if test="dto.overduesMsg != null and dto.overduesMsg != ''">
						and t1.OVERDUES_MSG =#{dto.overduesMsg}
    			</if>
    			<if test="dto.debtsMsg != null and dto.debtsMsg != ''">
						and t1.DEBTS_MSG =#{dto.debtsMsg}
    			</if>
    			<if test="dto.loanBalancesMsg != null and dto.loanBalancesMsg != ''">
						and t1.LOAN_BALANCES_MSG =#{dto.loanBalancesMsg}
    			</if>
    			<if test="dto.creditLoanMsg != null and dto.creditLoanMsg != ''">
						and t1.CREDIT_LOAN_MSG =#{dto.creditLoanMsg}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.prodCode != null and dto.prodCode != ''">
						and t1.PROD_CODE =#{dto.prodCode}
    			</if>
    			<if test="dto.orgCode != null and dto.orgCode != ''">
						and t1.ORG_CODE =#{dto.orgCode}
    			</if>
    			<if test="dto.sysCode != null and dto.sysCode != ''">
						and t1.SYS_CODE =#{dto.sysCode}
    			</if>
    			<if test="dto.retcode != null and dto.retcode != ''">
						and t1.RETCODE =#{dto.retcode}
    			</if>
    			<if test="dto.errormsg != null and dto.errormsg != ''">
						and t1.ERRORMSG =#{dto.errormsg}
    			</if>
    			<if test="dto.interfaceId != null and dto.interfaceId != ''">
						and t1.INTERFACE_ID =#{dto.interfaceId}
    			</if>
    			<if test="dto.remark != null and dto.remark != ''">
						and t1.REMARK =#{dto.remark}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 EXT_SH_PER_REPORT_STOCK  -->
<select id="searchExtShPerReportStock" parameterType="java.util.Map" resultMap="ExtShPerReportStockDTO">
    	     select 
						t1.id                             ,
						t1.report_number                  ,
						t1.report_time                    ,
						t1.query_time                     ,
						t1.name                           ,
						t1.certificates_type              ,
						t1.certificates_number            ,
						t1.marital                        ,
						t1.push_message                   ,
						t1.overdues_msg                   ,
						t1.debts_msg                      ,
						t1.loan_balances_msg              ,
						t1.credit_loan_msg                ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.prod_code                      ,
						t1.org_code                       ,
						t1.sys_code                       ,
						t1.retcode                        ,
						t1.errormsg                       ,
						t1.interface_id                   ,
						t1.remark                         
				from ext_sh_per_report_stock 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.reportNumber != null and dto.reportNumber != ''">
						and t1.REPORT_NUMBER = #{dto.reportNumber}
    			</if>
    			<if test="dto.reportTime != null and dto.reportTime != ''">
						and t1.REPORT_TIME = #{dto.reportTime}
    			</if>
    			<if test="dto.queryTime != null and dto.queryTime != ''">
						and t1.QUERY_TIME = #{dto.queryTime}
    			</if>
    			<if test="dto.name != null and dto.name != ''">
						and t1.NAME = #{dto.name}
    			</if>
    			<if test="dto.certificatesType != null and dto.certificatesType != ''">
						and t1.CERTIFICATES_TYPE = #{dto.certificatesType}
    			</if>
    			<if test="dto.certificatesNumber != null and dto.certificatesNumber != ''">
						and t1.CERTIFICATES_NUMBER = #{dto.certificatesNumber}
    			</if>
    			<if test="dto.marital != null and dto.marital != ''">
						and t1.MARITAL = #{dto.marital}
    			</if>
    			<if test="dto.pushMessage != null and dto.pushMessage != ''">
						and t1.PUSH_MESSAGE = #{dto.pushMessage}
    			</if>
    			<if test="dto.overduesMsg != null and dto.overduesMsg != ''">
						and t1.OVERDUES_MSG = #{dto.overduesMsg}
    			</if>
    			<if test="dto.debtsMsg != null and dto.debtsMsg != ''">
						and t1.DEBTS_MSG = #{dto.debtsMsg}
    			</if>
    			<if test="dto.loanBalancesMsg != null and dto.loanBalancesMsg != ''">
						and t1.LOAN_BALANCES_MSG = #{dto.loanBalancesMsg}
    			</if>
    			<if test="dto.creditLoanMsg != null and dto.creditLoanMsg != ''">
						and t1.CREDIT_LOAN_MSG = #{dto.creditLoanMsg}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.prodCode != null and dto.prodCode != ''">
						and t1.PROD_CODE = #{dto.prodCode}
    			</if>
    			<if test="dto.orgCode != null and dto.orgCode != ''">
						and t1.ORG_CODE = #{dto.orgCode}
    			</if>
    			<if test="dto.sysCode != null and dto.sysCode != ''">
						and t1.SYS_CODE = #{dto.sysCode}
    			</if>
    			<if test="dto.retcode != null and dto.retcode != ''">
						and t1.RETCODE = #{dto.retcode}
    			</if>
    			<if test="dto.errormsg != null and dto.errormsg != ''">
						and t1.ERRORMSG = #{dto.errormsg}
    			</if>
    			<if test="dto.interfaceId != null and dto.interfaceId != ''">
						and t1.INTERFACE_ID = #{dto.interfaceId}
    			</if>
    			<if test="dto.remark != null and dto.remark != ''">
						and t1.REMARK = #{dto.remark}
    			</if>
</select>
  
<!-- 主键查询对象  EXT_SH_PER_REPORT_STOCK -->
<select id="findExtShPerReportStockByPrimaryKey" parameterType="java.util.Map" resultMap="ExtShPerReportStockDTO">
   	 		select 
					t1.id                             ,
					t1.report_number                  ,
					t1.report_time                    ,
					t1.query_time                     ,
					t1.name                           ,
					t1.certificates_type              ,
					t1.certificates_number            ,
					t1.marital                        ,
					t1.push_message                   ,
					t1.overdues_msg                   ,
					t1.debts_msg                      ,
					t1.loan_balances_msg              ,
					t1.credit_loan_msg                ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.prod_code                      ,
					t1.org_code                       ,
					t1.sys_code                       ,
					t1.retcode                        ,
					t1.errormsg                       ,
					t1.interface_id                   ,
					t1.remark                         
			from ext_sh_per_report_stock 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 EXT_SH_PER_REPORT_STOCK -->
<insert id="insertExtShPerReportStock" parameterType="java.util.Map" useGeneratedKeys="true">
	<selectKey resultType="java.lang.Long" keyProperty="dto.id" order="BEFORE">
				select seq_EXT_SH_PER_REPORT_STOCK.nextval as id from dual
	</selectKey>
			insert into ext_sh_per_report_stock
			(   		
					id                             ,
					report_number                  ,
					report_time                    ,
					query_time                     ,
					name                           ,
					certificates_type              ,
					certificates_number            ,
					marital                        ,
					push_message                   ,
					overdues_msg                   ,
					debts_msg                      ,
					loan_balances_msg              ,
					credit_loan_msg                ,
					create_time                    ,
					prod_code                      ,
					org_code                       ,
					sys_code                       ,
					retcode                        ,
					errormsg                       ,
					interface_id                   ,
					remark                         
			)
			values(#{dto.id}
					,#{dto.reportNumber,jdbcType=VARCHAR}
					,#{dto.reportTime,jdbcType=VARCHAR}
					,#{dto.queryTime,jdbcType=VARCHAR}
					,#{dto.name,jdbcType=VARCHAR}
					,#{dto.certificatesType,jdbcType=VARCHAR}
					,#{dto.certificatesNumber,jdbcType=VARCHAR}
					,#{dto.marital,jdbcType=VARCHAR}
					,#{dto.pushMessage,jdbcType=VARCHAR}
					,#{dto.overduesMsg,jdbcType=VARCHAR}
					,#{dto.debtsMsg,jdbcType=VARCHAR}
					,#{dto.loanBalancesMsg,jdbcType=VARCHAR}
					,#{dto.creditLoanMsg,jdbcType=VARCHAR}
					,systimestamp
					,#{dto.prodCode,jdbcType=VARCHAR}
					,#{dto.orgCode,jdbcType=VARCHAR}
					,#{dto.sysCode,jdbcType=VARCHAR}
					,#{dto.retcode,jdbcType=VARCHAR}
					,#{dto.errormsg,jdbcType=VARCHAR}
					,#{dto.interfaceId,jdbcType=VARCHAR}
					,#{dto.remark,jdbcType=VARCHAR}
			)
</insert>
    
<!-- 更新对象 EXT_SH_PER_REPORT_STOCK -->
<update id="updateExtShPerReportStock" parameterType="java.util.Map">
	     update ext_sh_per_report_stock t1
	           set 
			           t1.report_number                  =#{dto.reportNumber,jdbcType=VARCHAR},
			           t1.report_time                    =#{dto.reportTime,jdbcType=VARCHAR},
			           t1.query_time                     =#{dto.queryTime,jdbcType=VARCHAR},
			           t1.name                           =#{dto.name,jdbcType=VARCHAR},
			           t1.certificates_type              =#{dto.certificatesType,jdbcType=VARCHAR},
			           t1.certificates_number            =#{dto.certificatesNumber,jdbcType=VARCHAR},
			           t1.marital                        =#{dto.marital,jdbcType=VARCHAR},
			           t1.push_message                   =#{dto.pushMessage,jdbcType=VARCHAR},
			           t1.overdues_msg                   =#{dto.overduesMsg,jdbcType=VARCHAR},
			           t1.debts_msg                      =#{dto.debtsMsg,jdbcType=VARCHAR},
			           t1.loan_balances_msg              =#{dto.loanBalancesMsg,jdbcType=VARCHAR},
			           t1.credit_loan_msg                =#{dto.creditLoanMsg,jdbcType=VARCHAR},
			           t1.modify_time                    =systimestamp,
			           t1.prod_code                      =#{dto.prodCode,jdbcType=VARCHAR},
			           t1.org_code                       =#{dto.orgCode,jdbcType=VARCHAR},
			           t1.sys_code                       =#{dto.sysCode,jdbcType=VARCHAR},
			           t1.retcode                        =#{dto.retcode,jdbcType=VARCHAR},
			           t1.errormsg                       =#{dto.errormsg,jdbcType=VARCHAR},
			           t1.interface_id                   =#{dto.interfaceId,jdbcType=VARCHAR},
			           t1.remark                         =#{dto.remark,jdbcType=VARCHAR}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 EXT_SH_PER_REPORT_STOCK -->
<delete id="deleteExtShPerReportStockByID" parameterType="java.util.Map">
    	delete from ext_sh_per_report_stock t1 where t1.ID in (${ids} )
</delete>
<!-- 主键假删除 EXT_SH_PER_REPORT_STOCK -->
<update id="deleteExtShPerReportStockByPrimaryKey" parameterType="java.util.Map">
	     update ext_sh_per_report_stock t1
	           set   t1.validate_state='0'	
	     where t1.id in( ${ids})
</update>
</mapper>